<%- include('template/cabecera', { tituloWeb: "Nomina - Crear Pagos por Empleado" , bgActive1: "" , bgActive2: "" ,
    bgActive3: "active" , bgActive4: "" , bgActive5: "" , bgActive6: "" }); %>

    <div class="container-fluid d-flex flex-column mt-2">
        <h2 class=" text-secondary">Crear Pago por Empleado</h2>
        <hr>
        <div class="d-flex align-items-center justify-content-end ">

            <a class="btn btn-warning my-4 " href="/empleados/informacion-empleado/<%= empleado.idEmpleado %> "><i
                    class="bi bi-arrow-left me-lg-3"></i>Volver Atras</a>
        </div>
        <div class="header-container p-2 mb-3 mt-3 h-25 text-light " style="background-color: #acacac5c; border-radius: 8px;">
            <h5 class="mt-3 font-weight-bold fs-3" style="color: #02aeae;">
                <%= empleado.idEmpleado %>
                    <%= empleado.nombre %>
                        <%= empleado.apellido %>
            </h5>
            <hr>
            <div class="d-lg-flex text-secondary ">
                <h5 class="me-lg-3">
                    <strong class="font-weight-bold d-lg-flex">Fecha de nacimiento</strong>
                    <%= empleado.nacimiento %>
                </h5>
                <h5 class="me-lg-3">
                    <strong id="campoTiempoEmpresa" class="font-weight-bold d-lg-flex">Fecha Contratacion </strong>
                    <%= empleado.tiempoEmpresa.toLocaleString('es-US', { timeZone: "America/Santo_Domingo" }) %>
                </h5>
                <h5 class="me-lg-3">

                    <strong class="font-weight-bold d-lg-flex">Cedula
                    </strong>
                    <%= empleado.cedula %>
                </h5>
                <h5 class="me-lg-3">

                    <strong class="font-weight-bold d-lg-flex">Sexo
                    </strong>
                    <%= empleado.sexo %>
                </h5>
                <h5>
                    <strong class="estatusInfEmp font-weight-bold d-lg-flex">Estatus
                    </strong>
                    <%= empleado.estatus %>

                </h5>
            </div>
        </div>

        <form class="" action="" method="POST">
            <div class="container-departamento">


                <div class="form-group">
                    <input type="text" class="form-control visually-hidden" name="idEmpleado" placeholder="Codigo Empleado" value="<%= empleado.idEmpleado %> " required>
                    <input type="text" class="form-control" name="departamento" placeholder="" value="<%= empleado.departamento %> " required>
                    <select name="frecuenciaPago" class="form-control mt-2 text-secondary" style="background-color: rgba(255, 0, 0, 0); border: none;" required>
                        <option class="text-dark" value="" selected>Seleccionar Frecuencia Pago
                        </option>
                        <option class="text-dark" value="Pago Semanal">Pago Semanal</option>
                        <option class="text-dark" value="Pago Quincenal">Pago Quincenal</option>
                        <option class="text-dark" value="Pago Mensual">Pago Mensual</option>
                    </select>
                    <select name="periodo" class="form-control mt-2 text-secondary" style="background-color: rgba(255, 0, 0, 0); border: none;" required>
                        <option class="text-dark" value="" selected>Seleccionar Periodo
                        </option>
                        <option class="text-dark" value="Enero">Enero</option>
                        <option class="text-dark" value="Febrero">Febrero</option>
                        <option class="text-dark" value="Marzo">Cooperativa</option>
                        <option class="text-dark" value="Abril">Abril</option>
                        <option class="text-dark" value="Mayo">Mayo</option>
                        <option class="text-dark" value="Junio">Junio</option>
                        <option class="text-dark" value="Julio">Julio</option>
                        <option class="text-dark" value="Agosto">Agosto</option>
                        <option class="text-dark" value="Septiembre">Septiembre</option>
                        <option class="text-dark" value="Obtubre">Obtubre</option>
                        <option class="text-dark" value="Noviembre">Noviembre</option>
                        <option class="text-dark" value="Diciembre">Diciembre</option>
                    </select>
                    <div class="input-field">

                        <label for="descuento" class="text-secondary">Total Descuentos</label>
                        <input type="text" class="form-control text-secondary" name="descuento" id="descuento" placeholder="" value="<%= empleado.totalDescuentos %> " required>
                    </div>
                    <div class="input-field">

                        <label for="comisionP" class="text-secondary">Comision</label>
                        <input type="text" class="form-control text-secondary" name="comisionP" id="comisionP" placeholder="" value="<%= empleado.comision %> " required>
                    </div>
                    <div class="input-field">

                        <label for="sueldoNeto" class="text-secondary">Sueldo Neto</label>
                        <input type="text" class="form-control text-secondary" name="sueldoNeto" id="sueldoNeto" placeholder="" value="<%= empleado.sueldoNeto %> " required>
                    </div>
                    <select name="estadoPago" class="form-control text-secondary" required>

                        <option class="text-dark" value="Activo" selected>Activo</option>
                        <option class="text-dark" value="Inactivo">Inactivo</option>
                    </select>

                    <textarea maxlength="250" type="text" name="observacionPago" class="form-control" placeholder="Observacion" required></textarea>
                    <button type="submit" class="btn  my-4 me-lg-3" style="background-color: #02aeae;">Guardar
                        Cambios</button>
                    <small id="emailHelp" class="form-text ">pagos creados:</small><br>
                    <small id="emailHelp" class="form-text ">
                        <%= %>
                    </small><br>

                </div>



        </form>

        </div>


    </div>




    <%- include('template/footer'); %>