<%- include('template/cabecera', { tituloWeb: "Nomina - Crear Empleado" , bgActive1: "" , bgActive2: "" ,
    bgActive3: "active" , bgActive4: "" , bgActive5: "" , bgActive6: "" }); %>

    <div class="container-fluid mt-2">

        <h2 class="text-secondary">Crear nuevo empleado</h2>
        <hr>
        <div class="d-flex justify-content-end align-items-center">

            <div class="justify-content-center d-flex">
                <spam class="text-secondary me-lg-3 "><b>Fecha</b>
                    <%= now %>
                </spam>
            </div>
        </div>


        <form class="" autocomplete="off" action="" method="POST">

            <div class="d-flex justify-content-end">

                <button id="btnGuardarDatos" class="btn  mt-3  me-lg-3" style="background-color: #02aeae;" type="submit"><i class="bi bi-check-lg me-lg-3"></i>Guardar datos</button>
                <a href="/empleados" class="btn btn-danger mt-3 "><i class="bi bi-arrow-left me-lg-3"></i>Cancelar</a>
            </div>

            <div class="container-datos-header d-flex">

                <div class="datos-de-busqueda justify-content-between" style="width: 80%; ">

                    <div class="d-lg-flex justify-content-between ">
                        <div class="form-group d-flex   ">
                            <div class="input-group d-flex">
                                <div class="input-group-prepend">
                                    <label class="input-group-text p-2 me-lg-3">Cedula</label>
                                </div>
                                <input type="text" name="cedula" value="" class="form-control" id="cedula">
                            </div>
                        </div>
                        <div class="form-group d-flex   ">
                            <div class="input-group d-flex">
                                <div class="input-group-prepend">
                                    <label class="input-group-text p-2 me-lg-3">Telefono</label>
                                </div>
                                <input type="number" name="telefono" class="form-control" id="telefono">
                            </div>
                        </div>
                        <div class="form-group d-flex  ">
                            <div class="form-group d-flex">
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <label for="sexo" class="input-group-text p-2 me-lg-3">Sexo</label>
                                    </div>
                                    <select name="sexo" class="form-control" id="sexo">
                                        <option class="text-dark" value="Seleccionar" selected>Seleccionar</option>
                                        <option class="text-dark" value="hombre">Hombre</option>
                                        <option class="text-dark" value="mujer">Mujer</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group d-flex   ">
                            <div class="form-group d-flex">
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <label for="estatus" class="input-group-text p-2 me-lg-3">Estatus</label>
                                    </div>
                                    <select name="estatus" class="form-control" id="estatus">
                                        <option class="text-dark" value="Seleccionar" selected>Seleccionar</option>
                                        <option class="text-dark" value="Activo">Activo</option>
                                        <option class="text-dark" value="Inactivo">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group d-flex justify-content-center espaciado ">
                <label for="nombre" class=" p-2">Nombre</label>
                <input type="text" name="nombre" class="form-control p-2 mt-2" id="nombre" aria-describedby="emailHelp">
            </div>

            <div class="form-group d-flex justify-content-center espaciado ">
                <label for="apellido" class=" p-2">Apellido</label>
                <input type="text" name="apellido" class="form-control p-2 mt-2" id="apellido" aria-describedby="emailHelp" placeholder="">
            </div>

            <div class="form-group d-flex justify-content-center espaciado ">
                <label for="departamento" class=" p-2">Departamento</label>
                <select name="departamento" class="form-control p-2 mt-2" style="background-color: rgba(255, 0, 0, 0); border: none; ">
                    <option class="text-dark" value="No Asignado" selected>No Asignado</option>
                </select>
            </div>
            <div class="form-group d-flex justify-content-center espaciado ">
                <label for="nacimiento" class="  p-2">Fecha de Nacimiento </label>
                <input type="date" name="nacimiento" class="form-control p-2 mt-2" id="nacimiento" aria-describedby="emailHelp" placeholder="">
            </div>
            <div class="form-group d-flex justify-content-center espaciado ">
                <label for="lugarNacimiento" class=" p-2">Lugar de Nacimiento </label>
                <input type="text" name="lugarNacimiento" class="form-control p-2 mt-2" id="lugarNacimiento" aria-describedby="emailHelp" placeholder="">
            </div>
            <div class="form-group d-flex justify-content-center espaciado ">
                <label for="nacionalidad" class=" p-2">Nacionalidad</label>
                <input type="text" name="nacionalidad" class="form-control p-2 mt-2" id="nacionalidad" aria-describedby="emailHelp" placeholder="">
            </div>
            <div class="form-group d-flex justify-content-center espaciado ">
                <label class=" p-2">Direccion</label>
                <input type="text" name="direccion" class="form-control p-2 mt-2" id="direccion" aria-describedby="emailHelp" placeholder="">
            </div>
            <div class="form-group d-flex justify-content-center espaciado ">
                <label class=" p-2">Correo</label>
                <input type="text" name="correo" class="form-control p-2 mt-2" id="correo" aria-describedby="emailHelp" placeholder="">
            </div>
            <div class="form-group d-flex justify-content-center espaciado ">
                <label for="condicionContrato" class=" p-2">Contrato</label>
                <select name="condicionContrato" class="form-control p-2 mt-2" id="condicionContrato" aria-describedby="emailHelp" required>
                    <option value="" selected>Seleccionar</option>
                    <option value="Temporal">Temporal</option>
                    <option value="Fijo">Fijo</option>
                </select>
                <!-- <input type="text" name="condicionContrato" class="form-control p-2 mt-2" id="condicionContrato" aria-describedby="emailHelp" placeholder=""> -->
            </div>
            <div class="form-group d-flex justify-content-center espaciado ">
                <label for="formaPago" class=" p-2">Forma de Pago</label>
                <select name="formaPago" class="form-control p-2 mt-2" id="formaPago" aria-describedby="emailHelp" required>
                    <option value="" selected>Seleccionar</option>
                    <option value="Semanal">Semanal</option>
                    <option value="Quincenal">Quincenal</option>
                    <option value="Mensual">Mensual</option>
                </select>
                <!-- <input type="text" name="formaPago" class="form-control p-2 mt-2" id="formaPago" aria-describedby="emailHelp" placeholder=""> -->
            </div>

            <div class="d-lg-flex justify-content-between">
                <div class="form-group d-flex justify-content-center flex-wrap ">
                    <label for="sueldoBruto" class=" p-2">Sueldo Bruto</label>
                    <input type="text" name="sueldoBruto" class="form-control p-2 text-center mt-2" id="sueldoBruto" aria-describedby="emailHelp" value="0">
                </div>
                <div class="form-group d-flex justify-content-center flex-wrap ">
                    <label for="comision" class=" p-2">Comision</label>
                    <input type="text" name="comision" class="form-control p-2 text-center mt-2" id="comision" aria-describedby="emailHelp" value="0">
                </div>
                <div class="form-group d-flex justify-content-center flex-wrap ">
                    <label for="afp" class="p-2">Afp</label>
                    <input type="text" name="afp" class="form-control p-2 text-center mt-2" id="afp">
                </div>
                <div class="form-group d-flex justify-content-center flex-wrap ">
                    <label for="ars" class="p-2">Ars</label>
                    <input type="text" name="ars" class="form-control p-2 text-center mt-2" id="ars">
                </div>
                <div class="form-group d-flex justify-content-center flex-wrap ">
                    <label for="cooperativa" class="p-2">Cooperativa</label>
                    <input type="text" name="cooperativa" class="form-control p-2 text-center mt-2" id="cooperativa">
                </div>
            </div>

            <div class="d-lg-flex justify-content-between">
                <div class="form-group d-flex justify-content-center flex-wrap ">
                    <label for="club" class="p-2">Club</label>
                    <input type="text" name="club" class="form-control p-2 text-center mt-2" id="club">
                </div>
                <div class="form-group d-flex justify-content-center flex-wrap ">
                    <label for="prestamos" class="p-2">Prestamos</label>
                    <input type="text" name="prestamos" class="form-control p-2 text-center mt-2" id="prestamos">
                </div>
                <div class="form-group d-flex justify-content-center flex-wrap ">
                    <label for="totalDescuentos" class="p-2">Total Descuentos</label>
                    <input type="text" name="totalDescuentos" class="form-control p-2 text-danger font-weight-bold text-center mt-2" id="totalDescuentos">
                </div>
                <div class="form-group d-flex justify-content-center flex-wrap ">
                    <label for="sueldoNeto" class="p-2 ">Sueldo Neto</label>
                    <input type="text" name="sueldoNeto" class="form-control p-2 text-success font-weight-bold text-center mt-2" id="sueldoNeto">
                </div>
            </div>


        </form>
        <!-- <button type="submit" class="btnImprimir  mt-5 mb-4 me-lg-3 btnFormat"><i class="bi bi-printer-fill me-lg-3"></i>Generar Reporte</button>
        <button type="submit" class="btnParametros mt-5 mb-4 me-lg-3 btnFormat"><i class="bi bi-gear-fill me-lg-3" ></i>Modificar Parametros</button> -->
    </div>



    <%- include('template/modalReporteNomina'); %>
        <%- include('template/modalParametrosNomina'); %>

            <script src="/js/nomina.js"></script>
            <%- include('template/footer'); %>