<%- include('template/cabecera', { tituloWeb: "Nomina - Crear Dpto Empleado" , bgActive1: "" , bgActive2: "" ,
    bgActive3: "active" , bgActive4: "" , bgActive5: "" , bgActive6: "" }); %>

    <div class="container-fluid d-flex flex-column mt-5">
        <h2 class=" text-secondary">Crear Departamento por Empleado</h2>
        <hr>
        <div class="d-flex align-items-center justify-content-end ">
            <button type="submit" class="btn btn-success mt-3 me-lg-3">Guardar Cambios</button>
            <a class="btn btn-danger mt-3 " href="/empleados/informacion-empleado/<%= empleado.idEmpleado %> "><i
                    class="bi bi-person-plus me-lg-3"></i>Cancerlar</a>
        </div>
        <div class="header-container mb-3 mt-3 h-25 text-light" style="background-color: rgba(172, 172, 172, 0.113); border-radius: 8px;">
            <h5 class="mt-3">
                <%= empleado.idEmpleado %>
                    <%= empleado.nombre %>
                        <%= empleado.apellido %>
            </h5>
            <p>
                <span><b>Fecha de nacimiento: </b>
                    <%= empleado.nacimiento %>
                </span>
                <span id="campoTiempoEmpresa"><b>Ingreso a la empresa: </b>
                    <%= empleado.tiempoEmpresa %>
                </span>
                <span><b>Cedula: </b>
                    <%= empleado.cedula %>
                </span>
                <span><b>Sexo </b>
                    <%= empleado.sexo %>
                </span>
                <span class="estatusInfEmp  "><b>Estatus </b>
                    <%= empleado.estatus %>
                </span>

            </p>
        </div>

        <div class="container-departamento">

            <form class="" action="" method="POST">
                <div class="form-group">
                    <!-- <label for="exampleInputEmail1">Nombre Departamento</label> -->
                    <input type="text" class="form-control" name="idEmpleado" placeholder="Codigo Empleado">
                    <input type="text" class="form-control" name="idDepartamento" placeholder="Codigo Departamento">
                    <input type="text" class="form-control" name="fechaRegistro" placeholder="Fecha Registro">
                    <input type="text" class="form-control" name="estadoDepartamento" placeholder="Estado Dpto">

                    <small id="emailHelp" class="form-text ">Departamentos creados:</small><br>
                    <small id="emailHelp" class="form-text ">
                        <%= %>
                    </small><br>

                </div>


            </form>

        </div>


    </div>




    <%- include('template/footer'); %>