<%- include('template/cabecera', { tituloWeb: "Edufal Adm - Cursos" , bgActive1: "" , bgActive2: "active" ,
    bgActive3: "" , bgActive4: "" , bgActive5: "" , bgActive6: "" , bgActive7: "" , bgActive8: "" }); %>


    <!-- content inicio -->


    <div class="container-fluid mt-2">
        <h2 class=" text-secondary">Cursos - Talleres</h2>
        <hr>
        <h3 class=""><strong>Total de Inscripciones: </strong>
            <%= totalInscripciones.cantidad_inscripciones %>
        </h3>
        <div class="d-sm-flex ">

            <p class="me-3 "> <strong class="bg-secondary text-light me-1  ">Nuevo:</strong> <strong>
                    <%= totalInscripcionesNuevo.cantidad_inscripciones %>
                </strong> </p>
            <p class="me-3 "> <strong class="bg-info text-light me-1 ">Iniciado:</strong> <strong>
                    <%= totalInscripcionesInicido.cantidad_inscripciones %>
                </strong> </p>
            <p class="me-3 "> <strong class="bg-primary text-light me-1 ">Finalizado:</strong> <strong>
                    <%= totalInscripcionesFinalizado.cantidad_inscripciones %>
                </strong> </p>
            <p class="me-3 "> <strong class="bg-danger text-light me-1">Declinado/Retirado:</strong> <strong>
                    <%= totalInscripcionesDeclinadoRetirado.cantidad_inscripciones %>
                </strong> </p>
        </div>
        <div class="d-lg-flex align-items-center justify-content-end my-4 ">
            <a class="btn  me-lg-3" style="background-color: #02aeae;" href="/admin/cursos-adm/crear-curso-adm"><i
                    class="bi bi-person-plus me-lg-3"></i>Crear Nuevo Curso</a>
            <a class="btn me-lg-3" href="/admin/inscripciones-adm"><i class="bi bi-person-lines-fill me-lg-3"></i>Ver
                Inscripciones</a>
            <a class="btn me-lg-3" href="/admin/programacion-adm"><i class="bi bi-person-lines-fill me-lg-3"></i>Ver
                Programacion</a>
            <a class="btn" href="/admin/ofertas100%OFF-adm"><i class="bi bi-person-lines-fill me-lg-3"></i>Ver
                Ofertas 100% OFF</a>
        </div>

        <div class="container-departamento">

            <table id="datatable" class="display responsive nowrap" style="width:100%">
                <thead class="thead-ligth">
                    <tr>
                        <!-- <th scope="col">Id</th> -->
                        <th scope="col">ID Curso</th>
                        <th scope="col">Titulo Curso</th>
                        <!-- <th scope="col">Descripcion</th> -->
                        <th scope="col">Estado</th>
                        <th scope="col">Fecha Inicio</th>
                        <th scope="col">Notif. via Correo</th>
                        <th scope="col">Fecha Oferta</th>
                        <th scope="col">Duracion</th>
                        <th scope="col">Modalidad</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Promocion</th>
                        <th scope="col">Oferta Insc.</th>
                        <th scope="col">Total Insc.</th>
                        <th scope="col">Nuevos</th>
                        <th scope="col">Id Maestro</th>
                        <th scope="col">Id Categoria</th>
                        <th scope="col">Acciones</th>

                    </tr>
                </thead>
                <tbody>
                    <% if (arrayCursos.length> 0) { %>
                        <% arrayCursos.forEach(curso=> { %>

                            <tr>
                                <td>
                                    <%= curso.id_curso %>
                                </td>
                                <td><img src="<%= curso.url_imagen %>" width="50px" alt="portada_curso">
                                    <%= curso.titulo_curso %>
                                </td>

                                <td>
                                    <% if (curso.estado_curso=="Inactivo" ) { %>
                                        <strong class="bg-danger text-light">
                                            <%= curso.estado_curso %>
                                        </strong>
                                        <% }else { %>
                                            <%= curso.estado_curso %>
                                                <% } %>
                                </td>
                                <td>
                                    <%= curso.fecha_inicio.toLocaleString('es-ES', { timeZone: "America/Santo_Domingo"
                                        }).slice(0, 10) %>
                                </td>
                                <td>
                                    <% curso.fecha_notificacion=new Date(curso.fecha_notificacion) %>
                                        <% curso.fecha_fin_notificacion=new Date(curso.fecha_fin_notificacion) %>

                                            <% if(fecha_hoy> curso.fecha_notificacion){ %>
                                                <% if(fecha_hoy <=curso.fecha_fin_notificacion ){ %>
                                                    <i class="bi bi-envelope me-2 text-success" data-toggle="tooltip"
                                                        data-placement="top" title="Notificar estudiantes antes de: <%= curso.fecha_fin_notificacion.toLocaleString('es-ES', {}).slice(0, 10)
                                                            %>"></i><a
                                                        href="/admin/notificaciones-inicio-adm/<%= curso.id_curso %>">Notificar
                                                        Estudiantes </a>

                                                    <% }else{ %>
                                                        <i class="bi bi-slash-circle me-2 text-danger"
                                                            data-toggle="tooltip" data-placement="top"
                                                            title="Curso iniciado, enviara notificaciones tardia. Fecha limite de notif <%= curso.fecha_fin_notificacion.toLocaleString('es-ES', {}).slice(0, 10) %>"></i>
                                                        <a
                                                            href="/admin/notificaciones-inicio-adm/<%= curso.id_curso %>">Curso
                                                            Iniciado</a>

                                                        <% } %>
                                                            <% }else{ %>
                                                                <%= curso.fecha_notificacion.toLocaleString('es-ES', {
                                                                    timeZone: "America/Santo_Domingo" }).slice(0, 10) %>
                                                                    <% } %>
                                </td>
                                <% console.log( fecha_hoy + ' fecha_hoy' ) %>
                                    <% console.log( curso.fecha_notificacion + ' curso.fecha_notificacion' ) %>
                                        <% console.log( curso.fecha_fin_notificacion + ' fecha fin notificacion' ) %>
                                            <td>
                                                <% if(curso.fecha_oferta) { %>
                                                    <% if(curso.fecha_oferta=='0000-00-00 00:00:00' ){ %>
                                                        <%= curso.fecha_oferta.toLocaleString('es-ES', {
                                                            timeZone: "America/Santo_Domingo" }).slice(0, 10) %>
                                                            <strong class="bg-warning  ">Sin Oferta 100% OFF</strong>
                                                            <% } %>
                                                                <% if(curso.fecha_oferta < ahora) { %>
                                                                    <%= curso.fecha_oferta.toLocaleString('es-ES', {
                                                                        timeZone: "America/Santo_Domingo" }).slice(0,
                                                                        10) %>
                                                                        <strong class="bg-danger text-light ">Oferta
                                                                            100%
                                                                            OFF
                                                                            Vencida</strong>
                                                                        <% } %>
                                                                            <% if (ahora < curso.fecha_oferta){ %>
                                                                                <%= curso.fecha_oferta.toLocaleString('es-ES',
                                                                                    { timeZone: "America/Santo_Domingo"
                                                                                    }).slice(0, 10) %>
                                                                                    <strong
                                                                                        class="bg-info text-light ">Oferta
                                                                                        100% OFF
                                                                                        Activa</strong>
                                                                                    <% } %>

                                                                                        <% } else { %>
                                                                                            0000-00-00
                                                                                            <strong class="bg-warning ">
                                                                                                Sin Oferta 100% OFF
                                                                                            </strong>
                                                                                            <% } %>
                                            </td>
                                            <td>
                                                <%= curso.duracion %>
                                            </td>
                                            <td>
                                                <%= curso.modalidad %>
                                            </td>
                                            <td>
                                                <%= curso.costo %>
                                            </td>
                                            <td>
                                                <%= curso.tipo_curso %>
                                            </td>
                                            <td>
                                                <%= curso.promocion %>
                                            </td>
                                            <td>
                                                <%= curso.oferta_inscripcion %>
                                            </td>
                                            <td>
                                                <%= curso.total_inscripciones %>
                                            </td>
                                            <td>
                                                <%= curso.inscripciones_nuevas %>
                                            </td>
                                            <td>
                                                <%= curso.id_maestro %>
                                            </td>
                                            <td>
                                                <%= curso.id_categoria %>
                                            </td>
                                            <td>
                                                <a href="/admin/cursos-adm/editar-curso-adm/<%= curso.id_curso %>"
                                                    class="btn ">Editar</a>

                                            </td>

                            </tr>

                            <% }) %>
                                <% } %>
                </tbody>
            </table>
        </div>
    </div>



    <!-- content fin -->


    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({
                order: [
                    [0, 'desc']
                ],
                "processing": false,
                "dom": "<'row' <'col-md-12 float-right'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                "buttons": [{
                    extend: 'print',
                    title: "Listado de capacitaciones",
                    titleAttr: 'Imprimir',
                    text: '<i class="fa fa-print" aria-hidden="true"></i>',
                    className: 'btn btn-secondary',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13]
                    },
                    customize: function (win) {
                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                        $(win.document.body).find('h1').css('text-align', 'center');
                        $(win.document.body).css('font-size', '9px');
                    }
                }, {
                    extend: 'pdf',
                    orientation: 'landscape',
                    pageSize: 'LEGAL',
                    titleAttr: 'Exportar a PDF',
                    text: '<i class="bi bi-filetype-pdf" aria-hidden="true"></i>',
                    className: 'btn btn-danger',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13]
                    },
                    // Centra la tabla del PDF
                    // customize: function (doc) {
                    //     doc.content[1].margin = [100, 0, 100, 0] //left, top, right, bottom
                    // }
                }, {
                    extend: 'excel',
                    titleAttr: 'Exportar a Excel',
                    text: '<i class= "bi bi-file-earmark-spreadsheet" aria-hidden="true"></i>',
                    className: 'btn btn-success',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13]
                    }
                }],


                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });

        });
    </script>
    <%- include('template/footer'); %>