<%- include('template/cabecera', { tituloWeb: "Edufal Adm - Dashboart" , bgActive1: "active" , bgActive2: "" ,
    bgActive3: "" , bgActive4: "" , bgActive5: "" , bgActive6: "" , bgActive7: "" , bgActive8: "" }); %>

    <!-- content inicio -->


    <div class="container-fluid mt-2">
        <h2 class="text-secondary"><strong>Dashboard</strong> Nomina v01</h2>
        <hr>
        <div class=" row ">
            <div class=" col-xl-3 col-lg-6 col-md-6 col-sm-6 ">
                <div class=" card card-stats ">
                    <div class=" card-header card-header-info card-header-icon ">
                        <div class=" card-icon ">
                            <i class=" material-icons ">people</i>
                        </div>
                        <h3 class="text-secondary">Estudiantes</h3>
                        <div class="d-flex justify-content-between ">
                            <h4 class="text-secondary"><strong>Todos: </strong>
                                <%= total_estudiantes %>
                            </h4>
                            <h4 class="text-secondary"><strong>Activos: </strong>
                                <%= estudiantes_activos %>
                            </h4>
                            <h4 class="text-secondary"><strong>Inactivos: </strong>
                                <%= estudiantes_inactivos %>
                            </h4>
                        </div>
                    </div>
                    <div class=" card-footer ">
                        <div class=" ">

                            <a href=" /admin/estudiantes " class="text-secondary ">Ver Estudiantes</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-xl-3 col-lg-6 col-md-6 col-sm-6 ">
                <div class=" card card-stats ">
                    <div class=" card-header card-header-info card-header-icon ">
                        <div class=" card-icon ">
                            <i class=" material-icons ">store</i>
                        </div>
                        <h3 class="text-secondary">Total Cursos</h3>
                        <div class="d-flex justify-content-between ">
                            <h4 class="text-secondary"><strong>Todos: </strong>
                                <%= total_cursos %>
                            </h4>
                            <h4 class="text-secondary"><strong>Activos: </strong>
                                <%= cursos_activos %>
                            </h4>
                            <h4 class="text-secondary"><strong>Inactivos: </strong>
                                <%= cursos_inactivos %>
                            </h4>
                        </div>
                    </div>
                    <div class=" card-footer ">
                        <div class="  ">
                            <a href=" /admin/cursos_adm " class="text-secondary ">Ver Cursos</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-xl-3 col-lg-6 col-md-6 col-sm-6 ">
                <div class=" card card-stats ">
                    <div class=" card-header card-header-info card-header-icon ">
                        <div class=" card-icon ">
                            <i class=" material-icons ">laptop</i>
                        </div>
                        <h3 class="text-secondary">Inscripciones </h3>
                        <div class="d-flex justify-content-between ">
                            <h4 style="text-align: center;" class="text-secondary "><strong>Todas: </strong>
                                <%= total_inscripciones %>
                            </h4>
                            <h4 style="text-align: center;" class="text-secondary"><strong>Nuevas: </strong>
                                <%= inscripciones_nuevas %>
                            </h4>
                            <h4 style="text-align: center;" class="text-secondary"><strong>Iniciadas: </strong>
                                <%= inscripciones_iniciadas %>
                            </h4>

                            <h4 style="text-align: center;" class="text-secondary"><strong>Finalizadas: </strong>
                                <%= inscripciones_finalizadas %>
                            </h4>
                            <h4 style="text-align: center;" class="text-secondary"><strong>D/Retiradas: </strong>
                                <%= inscripciones_declinadas_retiradas %>
                            </h4>

                        </div>
                    </div>
                    <div class=" card-footer ">
                        <div class="  ">
                            <a href="/admin/Inscripciones_adm" class="text-secondary ">Ver Inscripciones</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons ">assessment</i>
                        </div>
                        <h3 class="text-secondary">Maestros</h3>
                        <div class="d-flex justify-content-between ">
                            <h4 class="text-secondary"><strong>Todos: </strong>
                                <%= total_maestros %>
                            </h4>
                            <h4 class="text-secondary"><strong>Activos: </strong>
                                <%= maestros_activo %>
                            </h4>
                            <h4 class="text-secondary"><strong>Inactivos: </strong>
                                <%= maestros_inactivos %>
                            </h4>

                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="">
                            <a href="/admin/maestros_adm" class="text-secondary ">Ver Maestros</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons ">assessment</i>
                        </div>
                        <h3 class="text-secondary">Pagos Estudiantes</h3>
                        <div class="d-flex justify-content-between ">
                            <h4 class="text-secondary"><strong>Pendientes: </strong>10</h4>
                            <h4 class="text-secondary"><strong>Pagados: </strong>6</h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="">
                            <a href="/pagos-servicios" class="text-secondary ">Ver Pagos</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons ">assessment</i>
                        </div>
                        <h3 class="text-secondary">Pagos Servicios</h3>
                        <div class="d-flex justify-content-between ">
                            <h4 class="text-secondary"><strong>Pagados: </strong>6</h4>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="">
                            <a href="/pagos-servicios" class="text-secondary ">Ver Pagos</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <hr>
        <div class="container-table table-responsive">
            <h3>PAGOS POR MES</h3>
            <table class="table table-sm table-hover table-striped">
                <thead class="thead-ligth">
                    <tr class="text-truncate">
                        <th scope="col" class="font-weight-bold me-3">Enero <span class="badge badge-secondary">
                                <%= cant_pagosEnero.pagosEnero %>
                            </span>
                        </th>
                        <th scope="col" class="font-weight-bold">Febrero <span class="badge badge-secondary">
                                <%= cant_pagosFebrero.pagosFebrero %>
                            </span></th>
                        <th scope="col" class="font-weight-bold">Marzo <span class="badge badge-secondary">
                                <%= cant_pagosMarzo.pagosMarzo %>
                            </span></th>
                        <th scope="col" class="font-weight-bold">Abril <span class="badge badge-secondary">
                                <%= cant_pagosAbril.pagosAbril %>
                            </span></th>
                        <th scope="col" class="font-weight-bold">Mayo <span class="badge badge-secondary">
                                <%= cant_pagosMayo.pagosMayo %>
                            </span></th>
                        <th scope="col" class="font-weight-bold">Junio <span class="badge badge-secondary">
                                <%= cant_pagosJunio.pagosJunio %>
                            </span></th>
                        <th scope="col" class="font-weight-bold">Julio <span class="badge badge-secondary">
                                <%= cant_pagosJulio.pagosJulio %>
                            </span></th>
                        <th scope="col" class="font-weight-bold">Agosto <span class="badge badge-secondary">
                                <%= cant_pagosAgosto.pagosAgosto %>
                            </span></th>
                        <th scope="col" class="font-weight-bold">Septiembre <span class="badge badge-secondary">
                                <%= cant_pagosSeptiembre.pagosSeptiembre %>
                            </span></th>
                        <th scope="col" class="font-weight-bold">Octubre <span class="badge badge-secondary">
                                <%= cant_pagosOctubre.pagosOctubre %>
                            </span></th>
                        <th scope="col" class="font-weight-bold">Noviembre <span class="badge badge-secondary">
                                <%= cant_pagosNoviembre.pagosNoviembre %>
                            </span></th>
                        <th scope="col" class="font-weight-bold">Diciembre <span class="badge badge-secondary">
                                <%= cant_pagosDiciembre.pagosDiciembre %>
                            </span></th>
                    </tr>
                </thead>

                <tbody>
                    <tr>


                        <td>
                            <%= pagosEnero.pagosEnero %>
                        </td>
                        <td>
                            <%= pagosFebrero.pagosFebrero %>
                        </td>
                        <td>
                            <%= pagosMarzo.pagosMarzo %>
                        </td>
                        <td>
                            <%= pagosAbril.pagosAbril %>
                        </td>
                        <td>
                            <%= pagosMayo.pagosMayo %>
                        </td>
                        <td>
                            <%= pagosJunio.pagosJunio %>
                        </td>
                        <td>
                            <%= pagosJulio.pagosJulio %>
                        </td>
                        <td>
                            <%= pagosAgosto.pagosAgosto %>
                        </td>
                        <td>
                            <%= pagosSeptiembre.pagosSeptiembre %>
                        </td>
                        <td>
                            <%= pagosOctubre.pagosOctubre %>
                        </td>
                        <td>
                            <%= pagosNoviembre.pagosNoviembre %>
                        </td>
                        <td>
                            <%= pagosDiciembre.pagosDiciembre %>
                        </td>

                    </tr>





                </tbody>
            </table>
        </div>

    </div>


    <!-- chart -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
        integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <div class="chart-container ">
        <canvas id="myChart" style="position: relative; height:35vh; width:80vw"></canvas>
    </div>
    <div class="visually-hidden">
        <p id="enero">
            <%= pagosEnero.pagosEnero %>
        </p>
        <p id="febrero">
            <%= pagosFebrero.pagosFebrero %>
        </p>
        <p id="marzo">
            <%= pagosMarzo.pagosMarzo %>
        </p>
        <p id="abril">
            <%= pagosAbril.pagosAbril %>
        </p>
        <p id="mayo">
            <%= pagosMayo.pagosMayo %>
        </p>
        <p id="junio">
            <%= pagosJunio.pagosJunio %>
        </p>
        <p id="julio">
            <%= pagosJulio.pagosJulio %>
        </p>
        <p id="agosto">
            <%= pagosAgosto.pagosAgosto %>
        </p>
        <p id="septiembre">
            <%= pagosSeptiembre.pagosSeptiembre %>
        </p>
        <p id="octubre">
            <%= pagosOctubre.pagosOctubre %>
        </p>
        <p id="noviembre">
            <%= pagosNoviembre.pagosNoviembre %>
        </p>
        <p id="diciembre">
            <%= pagosDiciembre.pagosDiciembre %>
        </p>


    </div>

    <script src="/js/chart.js"></script>



    <!-- content fin -->

    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({
                order: [
                    [3, 'desc']

                ],


                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });

        });
    </script>


    <%- include('template/footer'); %>