<%- include('template/cabecera', { tituloWeb: "Nomina - Dashboart" , bgActive1: "active" , bgActive2: "" , bgActive3: ""
    , bgActive4: "" , bgActive5: "" , bgActive6: "" , bgActive7: "" }); %>

    <!-- content inicio -->


    <div class="container-fluid mt-2">
        <h2 class="text-secondary"><strong>Dashboard</strong> Nomina v01</h2>
        <hr>
        <div class=" row ">
            <div class=" col-xl-3 col-lg-6 col-md-6 col-sm-6 ">
                <div class=" card card-stats ">
                    <div class=" card-header card-header-warning card-header-icon ">
                        <div class=" card-icon ">
                            <i class=" material-icons ">people</i>
                        </div>
                        <h3 class="text-secondary">Total Empleados</h3>
                        <h3 class=" card-title ">
                            <%= arrayEmpleados.length %>

                        </h3>
                    </div>
                    <div class=" card-footer ">
                        <div class=" ">

                            <a href=" /empleados " class="text-secondary ">Ver Empleados</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-xl-3 col-lg-6 col-md-6 col-sm-6 ">
                <div class=" card card-stats ">
                    <div class=" card-header card-header-success card-header-icon ">
                        <div class=" card-icon ">
                            <i class=" material-icons ">store</i>
                        </div>
                        <h3 class="text-secondary">Total Puestos</h3>
                        <h3 class=" card-title ">
                            <%= arrayDepartamentos.length %>
                        </h3>
                    </div>
                    <div class=" card-footer ">
                        <div class="  ">
                            <a href=" /departamentos " class="text-secondary ">Ver Puestos</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-xl-3 col-lg-6 col-md-6 col-sm-6 ">
                <div class=" card card-stats ">
                    <div class=" card-header card-header-info card-header-icon ">
                        <div class=" card-icon ">
                            <i class=" material-icons ">laptop</i>
                        </div>
                        <h3 class="text-secondary">Total Usuarios </h3>
                        <h3 class=" card-title ">
                            <%= arrayUser.length %>
                        </h3>
                    </div>
                    <div class=" card-footer ">
                        <div class="  ">
                            <a href="#" class="text-secondary ">Ver usuarios</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons ">assessment</i>
                        </div>
                        <h3 class="text-secondary">Pagos Empleados</h3>
                        <div class="d-flex justify-content-between ">
                            <h3 class="card-title">
                                <%= sueldosTotales=Intl.NumberFormat('en-IN', { style: 'currency' , currency: 'USD'
                                    }).format(sueldosTotales) %>
                            </h3>
                            <h3 class="card-title">
                                Cant.
                                <%= validacionPagos_x_empleado.length %>
                            </h3>

                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="">
                            <a href="/pagos" class="text-secondary ">Ver Pagos</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons ">assessment</i>
                        </div>
                        <h3 class="text-secondary">Pagos Servicios</h3>
                        <div class="d-flex justify-content-between ">

                            <h3 class="card-title">
                                <%= serviciosTotales=Intl.NumberFormat('en-IN', { style: 'currency' , currency: 'USD'
                                    }).format(serviciosTotales) %>
                            </h3>
                            <h3 class="card-title">
                                Cant.
                                <%= cantPagos %>
                            </h3>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="">
                            <a href="/pagos-servicios" class="text-secondary ">Ver Pagos</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <h2>
            <strong>Gastos Totales</strong>
            <%= gastosGenerales=Intl.NumberFormat('en-IN', { style: 'currency' , currency: 'USD'
                }).format(gastosGenerales) %>

        </h2>
        <hr>
        <div class="container-table table-responsive">
            <h3>Gastos por mes</h3>
            <table class="table table-sm table-hover table-striped">
                <thead class="thead-ligth">
                    <tr class="text-truncate">
                        <th scope="col" class="font-weight-bold">Enero</th>
                        <th scope="col" class="font-weight-bold">Febrero</th>
                        <th scope="col" class="font-weight-bold">Marzo</th>
                        <th scope="col" class="font-weight-bold">Abril</th>
                        <th scope="col" class="font-weight-bold">Mayo</th>
                        <th scope="col" class="font-weight-bold">Junio</th>
                        <th scope="col" class="font-weight-bold">Julio</th>
                        <th scope="col" class="font-weight-bold">Agosto</th>
                        <th scope="col" class="font-weight-bold">Septiembre</th>
                        <th scope="col" class="font-weight-bold">Octubre</th>
                        <th scope="col" class="font-weight-bold">Noviembre</th>
                        <th scope="col" class="font-weight-bold">Diciembre</th>
                    </tr>
                </thead>

                <tbody>

                    <tr class="text-truncate">

                        <td>
                            <%= gastosEnero=Intl.NumberFormat('en-IN', { style: 'currency' , currency: 'USD'
                                }).format(gastosEnero) %>
                        </td>
                        <td id="codDesc">
                            <%= gastosFebrero=Intl.NumberFormat('en-IN', { style: 'currency' , currency: 'USD'
                                }).format(gastosFebrero) %>
                        </td>
                        <td>
                            <%= gastosMarzo=Intl.NumberFormat('en-IN', { style: 'currency' , currency: 'USD'
                                }).format(gastosMarzo) %>
                        </td>
                        <td>
                            <%= gastosAbril=Intl.NumberFormat('en-IN', { style: 'currency' , currency: 'USD'
                                }).format(gastosAbril) %>
                        </td>
                        <td>
                            <%= gastosMayo=Intl.NumberFormat('en-IN', { style: 'currency' , currency: 'USD'
                                }).format(gastosMayo) %>
                        </td>
                        <td>
                            <%= gastosJunio=Intl.NumberFormat('en-IN', { style: 'currency' , currency: 'USD'
                                }).format(gastosJunio) %>
                        </td>
                        <td>
                            <%= gastosJulio=Intl.NumberFormat('en-IN', { style: 'currency' , currency: 'USD'
                                }).format(gastosJulio) %>
                        </td>
                        <td>
                            <%= gastosAgosto=Intl.NumberFormat('en-IN', { style: 'currency' , currency: 'USD'
                                }).format(gastosAgosto) %>
                        </td>
                        <td>
                            <%= gastosSeptiempre=Intl.NumberFormat('en-IN', { style: 'currency' , currency: 'USD'
                                }).format(gastosSeptiempre) %>
                        </td>
                        <td>
                            <%= gastosOctubre=Intl.NumberFormat('en-IN', { style: 'currency' , currency: 'USD'
                                }).format(gastosOctubre) %>
                        </td>
                        <td>
                            <%= gastosNoviembre=Intl.NumberFormat('en-IN', { style: 'currency' , currency: 'USD'
                                }).format(gastosNoviembre) %>
                        </td>
                        <td>
                            <%= gastosDiciembre=Intl.NumberFormat('en-IN', { style: 'currency' , currency: 'USD'
                                }).format(gastosDiciembre) %>
                        </td>


                    </tr>




                </tbody>
            </table>
        </div>

    </div>






    <!-- content fin -->

    <script>
        $(document).ready(function() {
            $('#datatable').DataTable({
                order: [
                    [3, 'desc']

                ],


                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });

        });
    </script>


    <%- include('template/footer'); %>