<%- include('template/cabecera', { tituloWeb: "Nomina - Dashboart" , bgActive1: "active" , bgActive2: "" , bgActive3: ""
    , bgActive4: "" , bgActive5: "" , bgActive6: "" }); %>

    <!-- content inicio -->


    <div class="container-fluid mt-2">
        <h2 class="text-secondary"><strong>Dashboard</strong> Nomina v01</h2>
        <hr>
        <div class=" row ">
            <div class=" col-xl-3 col-lg-6 col-md-6 col-sm-6 ">
                <div class=" card card-stats ">
                    <div class=" card-header card-header-warning card-header-icon ">
                        <div class=" card-icon ">
                            <i class=" material-icons ">people</i>
                        </div>
                        <h3 class="text-secondary">Total Empleados</h3>
                        <h3 class=" card-title ">
                            <%= arrayEmpleados.length %>

                        </h3>
                    </div>
                    <div class=" card-footer ">
                        <div class=" ">

                            <a href=" /empleados " class="text-secondary ">Ver Empleados</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-xl-3 col-lg-6 col-md-6 col-sm-6 ">
                <div class=" card card-stats ">
                    <div class=" card-header card-header-success card-header-icon ">
                        <div class=" card-icon ">
                            <i class=" material-icons ">store</i>
                        </div>
                        <h3 class="text-secondary">Total departamentos</h3>
                        <h3 class=" card-title ">
                            <%= arrayDepartamentos.length %>
                        </h3>
                    </div>
                    <div class=" card-footer ">
                        <div class="  ">
                            <a href=" /departamentos " class="text-secondary ">Ver Departamentos</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-xl-3 col-lg-6 col-md-6 col-sm-6 ">
                <div class=" card card-stats ">
                    <div class=" card-header card-header-danger card-header-icon ">
                        <div class=" card-icon ">
                            <i class=" material-icons ">laptop</i>
                        </div>
                        <h3 class="text-secondary">Total Usuarios </h3>
                        <h3 class=" card-title ">
                            <%= arrayUser.length %>
                        </h3>
                    </div>
                    <div class=" card-footer ">
                        <div class="  ">
                            <a href="#" class="text-secondary ">Ver usuarios</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons ">assessment</i>
                        </div>
                        <h3 class="text-secondary">Pagos Realizados</h3>
                        <h3 class="card-title">+245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="">
                            <a href="/pagos" class="text-secondary ">Ver Pagos</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header " id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    HISTORIAL NOVEDADES
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="container-fluid mt-2">
                    <!-- <div class="container"> -->
                    <!-- <div class="container-novedades"> -->
                    <table id="datatable" class="display responsive nowrap compact" style="width:100%">
                        <thead class="thead-ligth">
                            <tr>
                                <th scope="col">ID Novedad</th>
                                <th scope="col">Accion</th>
                                <th scope="col">Nombre Dpto</th>
                                <th scope="col">Fecha Novedad</th>
                                <th scope="col">Usuario</th>

                            </tr>
                        </thead>
                        <tbody>
                            <% if (novedades.length> 0) { %>
                                <% novedades.forEach(novedad=> { %>

                                    <tr>
                                        <td>
                                            <%= novedad.idNovedad %>
                                        </td>
                                        <td>
                                            <%= novedad.cambio %>
                                        </td>
                                        <td>
                                            <%= novedad.nombre_dpto %>
                                        </td>
                                        <td>
                                            <%= novedad.fechaNovedad.toLocaleString('es-US', {
                                                timeZone: "America/Santo_Domingo" }); %>
                                        </td>
                                        <td>
                                            <%= novedad.name %>
                                        </td>


                                    </tr>

                                    <% }) %>
                                        <% } %>
                        </tbody>
                    </table>
                    <!-- </div> -->

                    <!-- </div> -->
                </div>

            </div>
        </div>

    </div>



    <!-- content fin -->

    <script>
        $(document).ready(function() {
            $('#datatable').DataTable({
                order: [
                    [3, 'desc']

                ],


                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });

        });
    </script>


    <%- include('template/footer'); %>