<%- include('template/cabecera', { tituloWeb: "Nomina - Dashboart" , bgActive1: "" , bgActive2: "active" , bgActive3: ""
    , bgActive4: "" , bgActive5: "" , bgActive6: "" }); %>


    <!-- content inicio -->


    <div class="container-fluid mt-5">
        <h2 class=" text-secondary">Departamentos</h2>

        <!-- <div class="navbar-departamentos d-flex justify-content-end bg-light">
                                    <h5>agregar dpto</h5>
                                </div> -->

        <div class="d-flex align-items-center justify-content-end ">
            <a class="btn btn-success my-4" href="/crear-departamento"><i class="bi bi-person-plus me-lg-3"></i>Agregar
                Departamento</a>
        </div>

        <div class="container-departamento">

            <table class="table table-sm table-hover">
                <thead class="thead-ligth">
                    <tr>
                        <!-- <th scope="col">Id</th> -->
                        <th scope="col">ID Departamento</th>
                        <th scope="col">Nombre Departamento</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (arrayDepartamentos.length> 0) { %>
                        <% arrayDepartamentos.forEach(departamento=> { %>

                            <tr>
                                <td>
                                    <%= departamento.idDepartamento %>
                                </td>
                                <td>
                                    <%= departamento.nombre_dpto %>
                                </td>

                                <td class="w-0">
                                    <a href="/departamentos/<%= departamento.idDepartamento %>" class="btn btn-danger">Eliminar</a>
                                    <a href="/departamentos/editar-departamento/<%= departamento.idDepartamento %>" class="btn btn-secondary">Editar</a>

                                </td>
                            </tr>

                            <% }) %>
                                <% } %>
                </tbody>
            </table>
        </div>
    </div>



    <!-- content fin -->



    <%- include('template/footer'); %>