<%- include('template/cabecera', { tituloWeb: "Nomina - Departamentos" , bgActive1: "" , bgActive2: "active" ,
    bgActive3: "" , bgActive4: "" , bgActive5: "" , bgActive6: "" }); %>


    <!-- content inicio -->


    <div class="container-fluid mt-2">
        <h2 class=" text-secondary">Departamentos</h2>
        <hr>
        <div class="d-lg-flex align-items-center justify-content-end my-4 ">
            <a class="btn  me-lg-3" style="background-color: #02aeae;" href="/crear-departamento"><i
                    class="bi bi-person-plus me-lg-3"></i>Agregar Departamento</a>
            <a class="btn " href="/asignamientos-departamentos"><i class="bi bi-person-plus me-lg-3"></i>Ver
                Asignamientos</a>
        </div>

        <div class="container-departamento">

            <table id="datatable" class="display responsive nowrap" style="width:100%">
                <thead class="thead-ligth">
                    <tr>
                        <!-- <th scope="col">Id</th> -->
                        <th scope="col">ID Departamento</th>
                        <th scope="col">Nombre Departamento</th>
                        <th scope="col">Fecha Creacion</th>
                        <th scope="col">Estado Departamento</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (arrayDepartamentos.length> 0) { %>
                        <% arrayDepartamentos.forEach(departamento=> { %>

                            <tr>
                                <td>
                                    <%= departamento.idDepartamento %>
                                </td>
                                <td>
                                    <%= departamento.nombre_dpto %>
                                </td>
                                <input class="visually-hidden" type="text" name="nombre_dpto" value="<%= departamento.nombre_dpto %> ">
                                <td>
                                    <%= departamento.fechaRegistro.toLocaleString('es-US', {
                                        timeZone: "America/Santo_Domingo" }).slice(0, 10); %>
                                </td>
                                <td>
                                    <% if (departamento.estadoDepartamento=="Inactivo" ) { %>
                                        <p class="bg-danger text-light">
                                            <%= departamento.estadoDepartamento %>
                                        </p>
                                        <% }else { %>
                                            <%= departamento.estadoDepartamento %>
                                                <% } %>
                                </td>

                                <td>
                                    <a href="/departamentos/editar-departamento/<%= departamento.idDepartamento %>" class="btn ">Editar</a>

                                </td>
                            </tr>

                            <% }) %>
                                <% } %>
                </tbody>
            </table>
        </div>
    </div>



    <!-- content fin -->


    <script>
        $(document).ready(function() {
            $('#datatable').DataTable({
                order: [
                    [0, 'desc']
                ],


                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });

        });
    </script>
    <%- include('template/footer'); %>