<%- include('template/cabecera', { tituloWeb: "Nomina - Dashboart" , bgActive1: "" , bgActive2: "" , bgActive3: "active"
    , bgActive4: "" , bgActive5: "" , bgActive6: "" }); %>

    <div class="container-fluid mt-2">

        <h2 class="text-secondary" id="inimation-dog">Editar datos de empleado</h2>
        <hr>
        <form id="editar" class="" action="/empleados/detalle-empleado/<%= empleado.idEmpleado %> " method="POST">
            <div class="d-flex justify-content-end ">
                <button class="btn  mt-3 me-lg-3" style="background-color: #02aeae;" type="submit"><i
                        class="bi bi-check-lg me-lg-3"></i>Guardar
                    cambios</button>
                <a href="/empleados" class="btn btn-warning mt-3 me-lg-3"><i class="bi bi-arrow-left me-lg-3"></i>Volver
                    a
                    atras</a>
            </div>

            <div class="container-datos-header d-flex">

                <div class="datos-de-busqueda justify-content-between" style="width: 80%;">

                    <div class="d-lg-flex justify-content-between ">
                        <div class="form-group d-flex   ">
                            <div class="input-group ">
                                <div class="input-group-prepend">
                                    <label class="input-group-text p-2 me-lg-3">Codigo</label>
                                </div>
                                <input type="text" name="codigo" value="" class="form-control" id="codigo">
                            </div>
                        </div>

                        <div class="form-group d-flex  ">
                            <div class="form-group d-flex">
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <label for="estatus" class="input-group-text p-2 me-lg-3">Estatus</label>
                                    </div>
                                    <select name="estatus" class="form-control" id="estatus">
                                        <option class="text-dark" value="<%= empleado.estatus %>" selected>
                                            <%= empleado.estatus %>
                                        </option>
                                        <option class="text-dark" value="Activo">Activo</option>
                                        <option class="text-dark" value="Inactivo">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-lg-flex justify-content-between ">
                        <div class="form-group d-flex   ">
                            <div class="input-group d-flex">
                                <div class="input-group-prepend">
                                    <label class="input-group-text p-2 me-lg-3">Cedula</label>
                                </div>
                                <input type="text" name="cedula" value="<%= empleado.cedula %>" class="form-control" id="cedula">
                            </div>
                        </div>
                        <div class="form-group d-flex   ">
                            <div class="form-group d-flex">
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <label for="sexo" class="input-group-text p-2 me-lg-3">Sexo</label>
                                    </div>
                                    <select name="sexo" class="form-control" id="sexo">
                                        <option class="text-dark" value="<%= empleado.sexo %>" selected>
                                            <%= empleado.sexo %>
                                        </option>
                                        <option class="text-dark" value="hombre">Hombre</option>
                                        <option class="text-dark" value="mujer">Mujer</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="form-group d-flex justify-content-center espaciado ">
                <label for="nombre" class=" p-2">Nombre</label>
                <input type="text" name="nombre" value="<%= empleado.nombre %>" class="form-control p-2 mt-2" id="nombre" aria-describedby="emailHelp" placeholder="">
            </div>

            <div class="form-group d-flex justify-content-center espaciado ">
                <label for="apellido" class=" p-2">Apellido</label>
                <input type="text" name="apellido" value="<%= empleado.apellido %>" class="form-control p-2 mt-2" id="apellido" aria-describedby="emailHelp" placeholder="">
            </div>


            <div class="form-group d-flex justify-content-center espaciado ">
                <label for="departamento" class=" p-2">Departamento</label>
                <select name="departamento" class="form-control p-2 mt-2" style="background-color: rgba(255, 0, 0, 0); border: none; ">


                    <% if (empleado_x_departamento.length> 0) { %>
                        <% empleado_x_departamento.forEach(departamentoEmpleado=> { %>
                            <option class="text-dark" value="<%= departamentoEmpleado.nombre_dpto %>" selected>
                                <%= departamentoEmpleado.nombre_dpto %>
                            </option>
                            <% }) %>
                                <% } %>
                </select>
            </div>
            <div class="form-group d-flex justify-content-center espaciado ">
                <label for="nacimiento" class=" p-2">Fecha de Nacimiento </label>
                <input type="date" name="nacimiento" value="<%= empleado.nacimiento %>" class="form-control p-2 mt-2" id="nacimiento" aria-describedby="emailHelp" placeholder="">
            </div>
            <div class="form-group d-flex justify-content-center espaciado ">
                <label for="lugarNacimiento" class=" p-2">Lugar de Nacimiento </label>
                <input type="text" name="lugarNacimiento" value="<%= empleado.lugarNacimiento %>" class="form-control p-2 mt-2" id="lugarNacimiento" aria-describedby="emailHelp" placeholder="">
            </div>
            <div class="form-group d-flex justify-content-center espaciado ">
                <label for="nacionalidad" class=" p-2">Nacionalidad</label>
                <input type="text" name="nacionalidad" value="<%= empleado.nacionalidad %>" class="form-control p-2 mt-2" id="nacionalidad" aria-describedby="emailHelp" placeholder="">
            </div>

            <div class="d-lg-flex justify-content-between">
                <div class="form-group d-flex justify-content-center flex-wrap ">
                    <label for="sueldoBruto" class=" p-2">Sueldo Bruto</label>
                    <input type="text" name="sueldoBruto" value="<%= empleado.sueldoBruto %>" class="form-control p-2 text-center mt-2" id="sueldoBruto" aria-describedby="emailHelp" value="">
                </div>
                <div class="form-group d-flex justify-content-center flex-wrap ">
                    <label for="afp" class="p-2">Afp</label>
                    <input type="text" name="afp" value="<%= empleado.afp %>" class="form-control p-2 text-center mt-2" id="afp">
                </div>
                <div class="form-group d-flex justify-content-center flex-wrap ">
                    <label for="ars" class="p-2">Ars</label>
                    <input type="text" name="ars" value="<%= empleado.ars %>" class="form-control p-2 text-center mt-2" id="ars">
                </div>
                <div class="form-group d-flex justify-content-center flex-wrap ">
                    <label for="cooperativa" class="p-2">Cooperativa</label>
                    <input type="text" name="cooperativa" value="<%= empleado.cooperativa %>" class="form-control p-2 text-center mt-2" id="cooperativa">
                </div>
            </div>

            <div class="d-lg-flex justify-content-between">
                <div class="form-group d-flex justify-content-center flex-wrap ">
                    <label for="club" class="p-2">Club</label>
                    <input type="text" name="club" value="<%= empleado.club %>" class="form-control p-2 text-center mt-2" id="club">
                </div>
                <div class="form-group d-flex justify-content-center flex-wrap ">
                    <label for="prestamos" class="p-2">Prestamos</label>
                    <input type="text" name="prestamos" value="<%= empleado.prestamos %>" class="form-control p-2 text-center mt-2" id="prestamos">
                </div>
                <div class="form-group d-flex justify-content-center flex-wrap ">
                    <label for="totalDescuentos" class="p-2">Total Descuentos</label>
                    <input type="text" name="totalDescuentos" value="<%= empleado.totalDescuentos %>" class="form-control p-2 text-danger font-weight-bold text-center mt-2" id="totalDescuentos">
                </div>
                <div class="form-group d-flex justify-content-center flex-wrap ">
                    <label for="sueldoNeto" class="p-2 ">Sueldo Neto</label>
                    <input type="text" name="sueldoNeto" value="<%= empleado.sueldoNeto %>" class="form-control p-2 text-success font-weight-bold text-center mt-2" id="sueldoNeto">
                </div>
            </div>


        </form>
        <button type="submit" class="btnImprimir btn p-2 mt-4 mb-4 me-lg-3 btnFormat"><i
                class="bi bi-printer-fill me-lg-3"></i>Generar Reporte</button>
        <button type="submit" class="btnParametros btn p-2 mt-4 mb-4 me-lg-3 btnFormat"><i
                class="bi bi-gear-fill me-lg-3"></i>Modificar Parametros</button>

    </div>
    <%- include('template/modalReporteNomina'); %>
        <%- include('template/modalParametrosNomina'); %>


            <script src="/js/nomina.js"></script>
            <%- include('template/footer'); %>