<%- include('template/cabecera', { tituloWeb: "Nomina - Crear Descuento por Empleado" , bgActive1: "" , bgActive2: "" ,
    bgActive3: "active" , bgActive4: "" , bgActive5: "" , bgActive6: "" }); %>

    <div class="container-fluid d-flex flex-column mt-2">
        <h2 class=" text-secondary">Editar Descuento por Empleado</h2>
        <hr>
        <div class="d-flex align-items-center justify-content-end ">

            <a class="btn btn-warning my-4 " href="/empleados/informacion-empleado/ver-descuento-x-empleado/<%= arrayDescuento_x_empleado.idEmpleado %> "><i
                    class="bi bi-arrow-left me-lg-3"></i>Volver Atras</a>
        </div>
        <div class="header-container p-2 mb-3 mt-3 h-25 text-light " style="background-color: #acacac5c; border-radius: 8px;">
            <h5 class="mt-3 font-weight-bold fs-3" style="color: #02aeae;">
                <%= arrayDescuento_x_empleado.idEmpleado %>
                    <%= arrayDescuento_x_empleado.nombre %>
                        <%= arrayDescuento_x_empleado.apellido %>
            </h5>
            <hr>
            <div class="d-lg-flex text-secondary ">
                <h5 class="me-lg-3">
                    <strong class="font-weight-bold d-lg-flex">Fecha de nacimiento</strong>
                    <%= arrayDescuento_x_empleado.nacimiento %>
                </h5>
                <h5 class="me-lg-3">
                    <strong id="campoTiempoEmpresa" class="font-weight-bold d-lg-flex">Fecha Contratacion </strong>
                    <%= arrayDescuento_x_empleado.tiempoEmpresa.toLocaleString('es-US', {
                        timeZone: "America/Santo_Domingo" }) %>
                </h5>
                <h5 class="me-lg-3">

                    <strong class="font-weight-bold d-lg-flex">Cedula
                    </strong>
                    <%= arrayDescuento_x_empleado.cedula %>
                </h5>
                <h5 class="me-lg-3">

                    <strong class="font-weight-bold d-lg-flex">Sexo
                    </strong>
                    <%= arrayDescuento_x_empleado.sexo %>
                </h5>
                <h5>
                    <strong class="estatusInfEmp font-weight-bold d-lg-flex">Estatus
                    </strong>
                    <%= arrayDescuento_x_empleado.estatus %>

                </h5>
            </div>
        </div>

        <form class="" action="" method="POST">
            <div class="container-departamento">


                <div class="form-group">
                    <input type="text" class="form-control visually-hidden" name="idEmpleado" placeholder="Codigo Empleado" value="<%= arrayDescuento_x_empleado.idEmpleado %> " required>
                    <select name="tipoDescuento" class="form-control mt-2 text-secondary" style="background-color: rgba(255, 0, 0, 0); border: none;" required>
                        <option class="text-dark" value="<%= arrayDescuento_x_empleado.tipoDescuento %>" selected>
                            <%= arrayDescuento_x_empleado.tipoDescuento %>
                        </option>
                        <option class="text-dark" value="Recurrente">Recurrente</option>
                        <option class="text-dark" value="Fijo">Fijo</option>
                        <option class="text-dark" value="Provisional">Provisional</option>
                        <option class="text-dark" value="Otros">Otros</option>
                    </select>
                    <select name="nombreDescuento" class="form-control mt-2 text-secondary" style="background-color: rgba(255, 0, 0, 0); border: none;" required>
                        <option class="text-dark" value="<%= arrayDescuento_x_empleado.nombreDescuento %>" selected>
                            <%= arrayDescuento_x_empleado.nombreDescuento %>
                        </option>
                        <option class="text-dark" value="Ars">Ars</option>
                        <option class="text-dark" value="Afp">Afp</option>
                        <option class="text-dark" value="Cooperativa">Cooperativa</option>
                        <option class="text-dark" value="Otros">Otros</option>
                        <option class="text-dark" value="Prestamo">Prestamo</option>
                    </select>
                    <div class="input-field">
                        <label for="montoDescuento" class="text-secondary">Monto Descuento</label>
                        <input type="number" class="form-control text-secondary" name="montoDescuento" id="montoDescuento" placeholder="Monto Descuento" value="<%= arrayDescuento_x_empleado.montoDescuento %>" required>
                    </div>
                    <select name="estadoDescuento" class="form-control text-secondary" required>
                        <option class="text-dark" value="<%= arrayDescuento_x_empleado.estadoDescuento %>" selected>
                            <%= arrayDescuento_x_empleado.estadoDescuento %>
                        </option>
                        <option class="text-dark" value="Activo">Activo</option>
                        <option class="text-dark" value="Inactivo">Inactivo</option>
                    </select>
                    <div class="d-lg-flex mt-2">
                        <div class="me-lg-3">
                            <label class="form-control text-secondary font-weight-bold">Fecha Inicial</label>
                            <input type="text" class="form-control text-secondary bg-light" disabled name="fechaInicial" value="<%= arrayDescuento_x_empleado.fechaInicial.toLocaleDateString() %>">
                        </div>
                        <div class="">
                            <label class="form-control text-secondary font-weight-bold">Fecha Final</label>
                            <input type="text" class="form-control text-secondary bg-light " disabled name="fechaFinal" value="<%= arrayDescuento_x_empleado.fechaFinal.toLocaleDateString() %>">
                        </div>
                    </div>
                    <input maxlength="250" type="text" name="observacionDescuento" class="form-control" placeholder="Observacion" value="<%= arrayDescuento_x_empleado.observacionDescuento %>" required></input>
                    <button type="submit" class="btn  my-4 me-lg-3" style="background-color: #02aeae;">Guardar
                        Cambios</button>
                    <a type="button" class="btn text-light bg-danger " data-bs-toggle="modal" data-bs-target="#staticBackdrop" title="Eliminar Dpto">Eliminar
                    </a> <small id="emailHelp" class="form-text ">Descuentos creados:</small><br>
                    <small id="emailHelp" class="form-text ">
                        <%= %>
                    </small><br>

                </div>



        </form>

        </div>


    </div>


    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Eliminar Descuento
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <%= arrayDescuento_x_empleado.tipoDescuento %>
                        <%= arrayDescuento_x_empleado.nombreDescuento %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a type="submit" href="/empleados/informacion-empleado/eliminar-descuento-x-empleado/<%= arrayDescuento_x_empleado.idDescuento_x_empleado %>" class="btn text-light bg-danger " title="Eliminar Dpto">Eliminar Desc</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('template/footer'); %>