<%- include('template/cabecera', { tituloWeb: "Nomina - Crear Pagos por Empleado" , bgActive1: "" , bgActive2: "" ,
    bgActive3: "active" , bgActive4: "" , bgActive5: "" , bgActive6: "" , bgActive7: "" , bgActive8: "" }); %>

    <div class="container-fluid d-flex flex-column mt-2">
        <h2 class=" text-secondary">Editar Pago por Estudiante</h2>
        <hr>
        <div class="d-flex align-items-center justify-content-end ">

            <a class="btn btn-warning my-4 "
                href="/admin/estudiantes-adm/informacion-estudiante-adm/ver-pago-x-estudiante/<%= estudiante.id_estudiante %> "><i
                    class="bi bi-arrow-left me-lg-3"></i>Volver Atras</a>
        </div>
        <div class="header-container p-2 mb-3 mt-3 h-25 text-light "
            style="background-color: #acacac5c; border-radius: 8px;">
            <h5 class="mt-3 font-weight-bold fs-3" style="color: #02aeae;">
                <%= estudiante.id_estudiante %>
                    <%= estudiante.nombre %>
                        <%= estudiante.apellido %>
            </h5>
            <hr>
            <div class="d-lg-flex text-secondary ">
                <h5 class="me-lg-3">
                    <strong class="font-weight-bold d-lg-flex">Fecha de nacimiento</strong>
                    <%= estudiante.fecha_nacimiento %>
                </h5>
                <h5 class="me-lg-3">
                    <strong id="campoTiempoEmpresa" class="font-weight-bold d-lg-flex">Fecha Contratacion </strong>
                    <%= %>
                </h5>
                <h5 class="me-lg-3">

                    <strong class="font-weight-bold d-lg-flex">Cedula
                    </strong>
                    <%= estudiante.cedula %>
                </h5>
                <h5 class="me-lg-3">

                    <strong class="font-weight-bold d-lg-flex">Sexo
                    </strong>
                    <%= estudiante.sexo %>
                </h5>
                <h5>
                    <strong class="estatusInfEmp font-weight-bold d-lg-flex">Estatus
                    </strong>
                    <%= estudiante.estatus %>

                </h5>
            </div>
        </div>

        <form class="" action="" method="POST">


            <div class="">

                <input style="display: none;" type="text" name="cedula_pago" value="<%= estudiante.cedula %>">
                <input style="display: none;" type="text" name="id_estudiante" value="<%= estudiante.id_estudiante %>">
                <input style="display: none;" type="text" name="nombre" value="<%= estudiante.nombre %>">
                <input style="display: none;" type="text" name="apellido" value="<%= estudiante.apellido %>">
                <div>
                    <label for="periodo">Periodo Pago</label>
                    <select name="periodo" class="form-control mt-2 text-secondary"
                        style="background-color: rgba(255, 0, 0, 0); border: none;" required>
                        <option class="text-dark" value="<%= pago_estudiante.periodo %>" selected>
                            <%= pago_estudiante.periodo %>
                        </option>
                        <option class="text-dark" value="Enero">Enero</option>
                        <option class="text-dark" value="Febrero">Febrero</option>
                        <option class="text-dark" value="Marzo">Marzo</option>
                        <option class="text-dark" value="Abril">Abril</option>
                        <option class="text-dark" value="Mayo">Mayo</option>
                        <option class="text-dark" value="Junio">Junio</option>
                        <option class="text-dark" value="Julio">Julio</option>
                        <option class="text-dark" value="Agosto">Agosto</option>
                        <option class="text-dark" value="Septiembre">Septiembre</option>
                        <option class="text-dark" value="Obtubre">Obtubre</option>
                        <option class="text-dark" value="Noviembre">Noviembre</option>
                        <option class="text-dark" value="Diciembre">Diciembre</option>
                    </select>
                </div>
                <div class="input-field">

                    <label for="monto_pago" class="text-secondary">Monto Pago</label>
                    <input type="text" class="form-control text-secondary" name="monto_pago" id="monto_pago"
                        placeholder="" value="<%= pago_estudiante.monto_pago %> " required>
                </div>
                <div class="input-field">

                    <label for="fecha_pago" class="text-secondary">Fecha Pago</label>
                    <input type="text" class="form-control text-secondary" name="fecha_pago" id="fecha_pago"
                        placeholder="" value="<%= pago_estudiante.fecha_pago %> ">
                </div>
                <div class="input-field">

                    <label for="observacion_pago" class="text-secondary">Obeservacion</label>
                    <input type="text" class="form-control text-secondary" name="observacion_pago" id="observacion_pago"
                        placeholder="" value="<%= pago_estudiante.observacion_pago %> ">
                </div>



                <button type="submit" class="btn  my-4 me-lg-3" style="background-color: #02aeae;">Guardar
                    Cambios</button>
                <a type="button" class="btn text-light bg-danger " data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop" title="Eliminar Dpto">Eliminar
                </a>



                <small id="emailHelp" class="form-text ">pagos creados:</small><br>
                <small id="emailHelp" class="form-text ">
                    <%= %>
                </small><br>

            </div>



        </form>




    </div>


    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Eliminar Pago
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <%= pago_estudiante.periodo %>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a type="submit"
                        href="/admin/estudiantes-adm/informacion-estudiante-adm/eliminar-pago-x-estudiante/<%= pago_estudiante.id_pago_estudiante %>"
                        class="btn text-light bg-danger " title="Eliminar Pago">Eliminar</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('template/footer'); %>