<%- include('template/cabecera', { tituloWeb: "Nomina - Editar Departamento" , bgActive1: "" , bgActive2: "active" ,
    bgActive3: "" , bgActive4: "" , bgActive5: "" , bgActive6: "" }); %>

    <div class="container-fluid mt-2">
        <h2 class=" text-secondary">Editar Departamento - Puesto</h2>
        <hr>

        <div class="d-flex align-items-center justify-content-end ">

            <a href="/departamentos" class="btn btn-warning my-4 "><i class="bi bi-arrow-left me-lg-3"></i>Volver
                a
                atras</a>
        </div>

        <div class="container-departamento">
            <form class="" action="" method="POST">

                <div>
                    <label for="exampleInputEmail1">Nombre Puesto</label>
                    <input type="text" class="form-control text-secondary " name="nombre_dpto" aria-describedby="emailHelp" placeholder="" value="<%= departamento.nombre_dpto %>" required>
                </div>
                <div class="mt-3">
                    <label for="">Fecha Modificacion</label>
                    <input type="date" class="form-control text-secondary" name="fechaRegistro" value="<%= departamento.fechaRegistro %>" required>
                </div>
                <div class="mt-3">
                    <label for="exampleInputEmail1">Estado Puesto</label>
                    <select name="estadoDepartamento" class="form-control text-secondary" required>
                        <option class="text-dark" value="<%= departamento.estadoDepartamento %>" selected>
                            <%= departamento.estadoDepartamento %>
                        </option>
                        <option class="text-dark" value="Activo">Activo</option>
                        <option class="text-dark" value="Inactivo">Inactivo</option>
                    </select>
                </div>

                <button type="submit" class="btn  my-4 me-lg-3" style="background-color: #02aeae;">Guardar
                    Cambios</button>
                <a type="button" class="btn text-light bg-danger " data-bs-toggle="modal" data-bs-target="#staticBackdrop" title="Eliminar Dpto">Eliminar</a>
                <!-- <a type="button" class="btn text-light bg-danger " data-bs-toggle="modal" data-bs-target="#staticBackdrop" title="Eliminar Dpto">Eliminar -->

            </form>

        </div>


    </div>


    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Eliminar Puesto
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <%= departamento.nombre_dpto %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a type="submit" href="/departamentos/editar-departamento/eliminar-departamento/<%= departamento.idDepartamento %>" class="btn text-light bg-danger " title="Eliminar Dpto">Eliminar Dpto</a>
                </div>
            </div>
        </div>
    </div>


    <%- include('template/footer'); %>