<%- include('template/cabecera'); %>

    <div class="container-fluid  p">



        <div class="container">

            <h2 id="mensaje"></h2>

            <!-- trabajando animacion de titulo aqui -->
            <h1 data-aos="fade-up" class=" text-secondary" id="inimation-dog">Empleados</h1>
            <!-- <div style="height: 100px;"></div> -->
            <!-- hasta aqui -->

            <a class="btn btn-success btn-block my-4" href="/nomina">Crear nuevo empleado</a>

            <h1 id="prueba"></h1>

            <div class="container-table table-responsive">
                <table class="table table-sm table-hover ">
                    <thead class="thead-ligth">
                        <tr>
                            <!-- <th scope="col">Id</th> -->
                            <th scope="col">Codigo</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">apellido</th>
                            <th scope="col">Cedula</th>
                            <th scope="col">Estatus</th>
                            <th scope="col">Sueldo</th>
                            <th scope="col">T. desc</th>
                            <th scope="col">Sueldo Neto</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% if (arrayEmpleados.length > 0) { %>
                            <% arrayEmpleados.forEach(empleado=> { %>

                                <tr>

                                    <td>
                                        <%= empleado.codigo %>
                                    </td>
                                    <td>
                                        <%= empleado.nombre %>
                                    </td>
                                    <td>
                                        <%= empleado.apellido %>
                                    </td>
                                    <td>
                                        <%= empleado.cedula %>
                                    </td>
                                    <td>
                                        <%= empleado.estatus %>
                                    </td>
                                    <td>
                                        <%= empleado.sueldoBruto %>
                                    </td>
                                    <td>
                                        <%= empleado.totalDescuentos %>
                                    </td>
                                    <td>
                                        <%= empleado.sueldoNeto %>
                                    </td>
                                    <td class="w-0 "><a href="/empleados/detalle-empleado/<%= empleado.id %>" class="btn " title="Editar"><i class="bi bi-pencil-square "></i></a>
                                        <a id="eventoAct-Inact" href="/empleados/informacion-empleado/<%= empleado.id %>" class="btn " title="Ver informacion empleado"><i class="bi bi-folder2-open "></i></a>
                                    </td>
                                </tr>

                                <% }) %>
                                    <% } %>

                    </tbody>
                </table>
            </div>
        </div>


    </div>




    <%- include('template/footer'); %>