<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="Author"
        content="Rosfal soluciones de prestamos, Illustrator: prestamos personales y comerciales, Category: solicitar ya, contactos, ">
    <meta name="description" content="Rosfal soluciones de prestamos">
    <meta name="keywords" content="">
    <meta name="googlebot" content="index,follow">
    <meta name="robots" content="index,follow">
    <meta name="google-site-verification" content="utQ9qmqwRiwOOaWekxPXhNbflvliUELb-MgMVAOZGfg">

    <!-- icons material  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/material-icons@1.13.12/iconfont/material-icons.min.css">


    <!-- css y js bootstrap cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> -->
    <!-- linkeado css propio -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style_inicio.css">
    <!-- icons bootstrap cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!-- AOS ANIMACION CDN -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- generador de pdf cdn -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <!-- moment.js cdn -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment-with-locales.min.js"></script>s -->
    <link rel="icon" href="/img/favicon/favicon-edufal.png">
    <title>Edufal Online - Inicio</title>
</head>

<body class="modal-open" data-aos-delay="0" data-aos-duration="1000">



    <!-- navbar redes -->
    <div class="container-fluid d-flex align-items-center" style="background-color: #000000;">
        <div class="container d-lg-flex align-items-center justify-content-between">
            <div class="d-lg-flex">

                <a class="text-decoration-none" href="contacto@edufalonline.com" target="_blank">
                    <p class="text-light m-0 me-4 d-flex" style="font-size: large;"><i
                            class="bi bi-envelope-check me-2"></i>contacto@edufalonline.com</p>
                </a>
                <a class="text-decoration-none" href="https://bit.ly/3xzs0RV" target="_blank">
                    <p class="text-light m-0 " style="font-size: large;"><i
                            class="bi bi-telephone-forward me-2"></i>829-856-0203</p>
                </a>
            </div>
            <div class="container-redes align-items-center d-flex ">
                <div class="text-white align-items-center me-4">

                    <p class="m-0 text-truncate">Siguenos en</p>
                </div>
                <div>

                    <!-- <h6 class="text-white mb-3"><strong>NUESTRAS REDES SOCIALES</strong></h6> -->
                    <a href="https://www.facebook.com/rosfalrd/" target="_blank"> <img style="width: 30px;"
                            src="/img/logo-facebook.png" alt="facebook"></a>
                    <a href="https://www.instagram.com/rosfalrd/" target="_blank"> <img style="width: 30px;"
                            src="/img/logo-instagram.png" alt="instagram"></a>
                    <a href="https://bit.ly/3pUAZZq" target="_blank"> <img style="width: 30px;"
                            src="/img/logo-ws-navar-footer.png" alt="ws"></a>
                    <a href="#"> <img style="width: 30px;" src="/img/logo-twiter.png" alt="twier"></a>
                </div>
            </div>
            <!-- <a href="/login" class="m">LOGIN</a> -->
        </div>
        <a class="text-decoration-none d-none d-sm-block" href="https://edufalonline.com/aulavirtual/login/"
            target="_blank">
            <h5 class="text-light text-truncate " style="font-size: large; margin-top: 6px;">Aula Virtual</h5>
        </a>
    </div>

    <!-- navbar menu -->
    <div class="container ">
        <nav class="navbar navbar-expand-xxl navbar-light bg-0 p-0">


            <a class="navbar-brand " href="/"><img src="/img/logo-edufal.jpg" style="width: 220; height: 70px;"
                    alt="logo edufal"></a>
            <!-- <div class="container-fluid"> -->

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse  justify-content-around" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link me-lg-3 " style="font-size: 15px;" href="/"><strong
                                class="hover">INICIO</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-lg-3 " style="font-size: 15px;" href="/quienes-somos"><strong
                                class="hover text-truncate">QUIENES SOMOS</strong></a>
                    </li>

                    <li class="nav-item">
                        <div class="d-flex me-lg-3">
                            <a class="nav-link  " style="font-size: 15px;" href="/cursos_talleres"><strong
                                    class="hover text-truncate">CURSOS & TALLERES</strong></a>

                            <div class="btn-group dropleft" role="group">
                                <button type="" class="bg-white border-0 dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                </button>
                                <div class="dropdown-menu">
                                    <% if (arrayCursos.length> 0) { %>
                                        <% arrayCursos.forEach(curso=> { %>
                                            <a class="dropdown-item"
                                                href="/cursos_talleres/ver_curso_taller/<%= curso.titulo_curso %>">
                                                <%= curso.titulo_curso %>
                                            </a>
                                            <% }) %>
                                                <% } %>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link me-lg-3" style="font-size: 15px;" href="/ofertas-inscripciones"><strong
                                class="hover text-truncate">OFERTAS INSCRIPCION</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-lg-3" style="font-size: 15px;" href="/preguntas-frecuentes"><strong
                                class="hover text-truncate">PREGUNTAS
                                FRECUENTES</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-lg-3 " style="font-size: 15px;" href="/vacantes"><strong
                                class="hover">VACANTES</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-lg-3" style="font-size: 15px;" href="/contactos"><strong
                                class="hover">CONTACTOS</strong></a>
                    </li>
                    <li class="nav-item d-lg-none">
                        <a class="nav-link me-lg-3" style="font-size: 15px;"
                            href="https://edufalonline.com/aulavirtual/login/"><strong class="hover text-truncate">Aula
                                Virtual</strong></a>
                    </li>
                </ul>
            </div>
            <!-- </div> -->

        </nav>
    </div>



    <!-- carousel 1 -->
    <!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100"
                    src="https://onedrive.live.com/embed?resid=C31F9C66E8BCAAC9%211384&authkey=%21APLpUn5i7ynlaTQ&width=1024"
                    alt="First slide">
               
            </div>
            <div class="carousel-item">
                <img class="d-block w-100"
                    src="https://onedrive.live.com/embed?resid=C31F9C66E8BCAAC9%211385&authkey=%21AMxWBwFB9ZpwW7g&width=1024"
                    alt="Second slide">
               
            </div>
            <div class="carousel-item">
                <img class="d-block w-100"
                    src="https://onedrive.live.com/embed?resid=C31F9C66E8BCAAC9%211386&authkey=%21AEb9aSRIKomRjYU&width=1024"
                    alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div> -->


    <!-- seccion principal prueba -->
    <section class="cta-section"
        style="background-image: url(https://onedrive.live.com/embed?resid=C31F9C66E8BCAAC9%211473&authkey=%21AOkTBeZhxkAbGS4&width=3977&height=1924) ;">
        <div class="cta-text">
            <h2>¡No dejes pasar la oportunidad!<br>HAZLA REALIDAD AHORA MISMO.</h2>
            <p>Descubre los variados cursos, talleres y diplomados que ofrecemos o contáctanos para obtener
                asesoramiento personalizado.
            </p>
        </div>
        <div class="cta-links d-sm-flex">

            <a href="/cursos_talleres" class="cta-link">VER OFERTAS </a>
            <a href="/contactos" class="cta-link">CONTACTANOS</a>
        </div>
        <div class="cta-options">
            <div class="cta-option">
                <h3>Acompañamiento personalizado</h3>
                <p>Contamos con un equipo de Profesionales a tu disposición para brindarte la asesoria que garantice una
                    correcta gestión de tus procesos de enseñanzas.</p>
                <a href="#asesoria" class="cta-link">Clic para ver más</a>
            </div>
            <div class="cta-option">
                <h3>Capacitaciones</h3>
                <p>Explora los Cursos, Diplomados y Talleres que impartimos todos por profesores de basta experiencia en
                    modalidad virtual y presencial pero sobre todo en horarios flexibles.</p>
                <a href="#capacitaciones" class="cta-link">Clic para ver más</a>
            </div>
            <div class="cta-option">
                <h3>Impulsamos tu Empresa</h3>
                <p>Realizamos desde cero para ti todo el proceso de capacitacion de tus empleados y brindamos todas las
                    asesorias para sacar el mayor potencial de tus recursos.</p>
                <a href="#crea-empresa" class="cta-link">Clic para ver más</a>
            </div>
        </div>
    </section>





    <!-- (Content) Proximos cursos y talleres -->
    <div class="container p-5 ">
        <h2 class="mb-4 " style="color: #005d6a; font-weight: 600; text-align:center;"><strong>PROXIMAS
                CAPACITACIONES</strong>
        </h2>

        <% if (arrayCursos.length> 0) { %>
            <% arrayCursos.forEach(curso=> { %>

                <div class="card mb-4">
                    <div class="row g-0">
                        <div style="text-align: center; margin: auto; " class="col-md-4 ">
                            <img src="<%= curso.url_imagen %>" class="w-100  img-fluid rounded-start  " alt="img-curso">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a style="color: #005d6a; " class="text-decoration-none font-weight-bold"
                                        href="/cursos_talleres/ver_curso_taller/<%= curso.titulo_curso %>">

                                        <%= curso.titulo_curso %>
                                    </a>
                                </h4>
                                <div class="d-lg-flex ">

                                    <h4 class="card-title me-5 " style="color: #08787a; font-size: 18px;"> <i
                                            class="bi bi-calendar3 me-2"></i><strong>Inicio:</strong>
                                        <%= curso.fecha_inicio.toLocaleString('en-us', { weekday:"long", year:"numeric",
                                            month:"short"}) %>
                                    </h4>
                                    <h4 style="color: #08787a; font-size: 18px;">
                                        <p class="flex-grow-1 me-2"><i class="bi bi-stopwatch me-1"></i>
                                            <strong>Hora: </strong> 7:00 pm - 9:00 pm
                                        </p>
                                    </h4>
                                </div>

                                <div>
                                    <p>
                                        <%= curso.descripcion %>
                                    </p>
                                </div>
                                <div class="d-flex justify-content-between  align-items-center">


                                    <div class="d-flex  ">

                                        <p style="color: #08787a;"><strong><i class="bi bi-patch-check"></i>
                                                <%= curso.tipo_curso %>
                                            </strong>

                                        </p>
                                    </div>
                                    <div class="d-flex  ">

                                        <p style="color: #08787a;"><strong>MODALIDA:</strong>
                                            <%= curso.modalidad %>
                                        </p>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <% }) %>
                    <% } %>

                        <div class="d-flex justify-content-center mt-4">
                            <a class="btn text-white mb-5 mt-4" style="background-color:#005d6a ;"
                                href="/contactos">CONTACTANOS
                            </a>
                        </div>
    </div>




    <!-- Beneficios de estudiar con nosotros -->
    <div class="container mt-5">
        <h2>Beneficios de Estudiar con Nosotros</h2>
        <!-- Agrega información sobre los beneficios -->
    </div>




    <div class="  justify-content-center d-lg-flex w-100"
        style="background-image: url(https://onedrive.live.com/embed?resid=C31F9C66E8BCAAC9%211491&authkey=%21AH5iuXiaOomcbec&width=1280&height=304); background-repeat: no-repeat; background-size: cover; ">
        <div class=" d-lg-flex mt-5 mb-5">
            <div class="container-mision mt-1 p-4 count-section">
                <h2 style="color:#ffffff; font-weight: 600; font-size: 30px; " class="text-center">Horas impartidas</h2>
                <h1 data-aos="fade-up" style="font-size: 80px; font-weight: 1000;" class="text-center text-white count"
                    data-target="11200">

                </h1>
            </div>
            <div class="container-vision mt-1 p-4 count-section">
                <h2 style="color:#ffffff; font-weight: 600; font-size: 30px;" class="text-center">Estudiantes
                    capacitados
                </h2>
                <h1 data-aos="fade-up" style="font-size: 80px; font-weight: 1000;" class="text-center text-white count"
                    data-target="214"></h1>
            </div>
            <div class="container-valores mt-1 p-4 count-section">
                <h2 style="color:#ffffff; font-weight: 600; font-size: 30px;" class="text-center">Cursos impartidos</h2>
                <h1 data-aos="fade-up" style="font-size: 80px; font-weight: 1000" class="text-center text-white count"
                    data-target="150"></h1>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/script_inicio.js"></script>

    <!-- Sección de Testimonios -->
    <div class="container-fluid mt-5">
        <div class="container text-center">
            <h1>Testimonios de Nuestros Estudiantes</h1>
            <h4 class="mt-3">La Experiencia de Nuestros Alumnos Transforma Nuestra Academia de Clases Online</h4>
        </div>
        <div class="testimonial-container">
            <div class="testimonial-card">
                <img src="https://onedrive.live.com/embed?resid=C31F9C66E8BCAAC9%211492&authkey=%21AJ977kmmW0TgRho&width=256"
                    alt="Imagen testimonio 1" style="width: 100px; border-radius: 50%;">
                <p class="testimonial-text">"Poder tomar los cursos a mi ritmo ha sido una experiencia maravillosa.
                    Puedo aprender en momentos que se adapten a mi horario y estado de ánimo."</p>
                <p class="testimonial-name">Felipe M.</p>
                <p class="testimonial-details">Estudiante desde 2018</p>
            </div>
            <div class="testimonial-card">
                <img src="https://onedrive.live.com/embed?resid=C31F9C66E8BCAAC9%211494&authkey=%21AHa9h1kDsNBFKug&width=256"
                    alt="Imagen testimonio 2" style="width: 100px; border-radius: 50%;">
                <p class="testimonial-text">"Directamente apliqué los conceptos y las habilidades que aprendí de mis
                    cursos en un nuevo proyecto emocionante en el trabajo."</p>
                <p class="testimonial-name">Jennifer J.</p>
                <p class="testimonial-details">Estudiante desde 2020</p>
            </div>
            <div class="testimonial-card">
                <img src="https://onedrive.live.com/embed?resid=C31F9C66E8BCAAC9%211495&authkey=%21AIZlFx9gPup3ZbM&width=256"
                    alt="Imagen testimonio 3" style="width: 100px; border-radius: 50%;">
                <p class="testimonial-text">"Cuando necesito tomar cursos sobre temas que mi universidad no ofrece,
                    Edufal Online es uno de los mejores lugares a los que puedo recurrir."</p>
                <p class="testimonial-name">Larry W.</p>
                <p class="testimonial-details">Estudiante desde 2021</p>
            </div>
            <div class="testimonial-card">
                <img src="https://onedrive.live.com/embed?resid=C31F9C66E8BCAAC9%211493&authkey=%21AEhjv0GBlxA830g&width=256"
                    alt="Imagen testimonio 4" style="width: 100px; border-radius: 50%;">
                <p class="testimonial-text">"Aprender no solo se trata de hacer mejor un trabajo: implica mucho más.
                    Edufal Online me permite aprender sin límites."</p>
                <p class="testimonial-name">Chaitanya A.</p>
                <p class="testimonial-details">Estudiante desde 2021</p>
            </div>
        </div>
    </div>

    <!-- Preguntas -->
    <div class="container mt-5">

        <div class="faq-container">
            <h2 class="faq-title">Preguntas Frecuentes</h2>
            <ul class="">
                <li class="accordion-item">
                    <button class="accordion-header">¿Por qué debería inscribirme en un curso online de Edufal?</button>
                    <div class="accordion-body">
                        <p>Edufal ofrece cursos online de alta calidad con contenido actualizado y profesores expertos
                            en sus campos. Nuestros cursos son flexibles, accesibles desde cualquier lugar y te permiten
                            aprender a tu propio ritmo.
                        </p>
                    </div>
                </li>
                <li class="accordion-item">
                    <button class="accordion-header">¿Cuáles son los beneficios de los cursos online de Edufal?</button>
                    <div class="accordion-body">
                        <p>Los cursos online de Edufal te brindan la flexibilidad para estudiar según tu horario, acceso
                            a recursos multimedia, interacción con otros estudiantes y la posibilidad de obtener
                            certificaciones reconocidas en el mercado laboral.
                        </p>
                    </div>
                </li>

                <li class="accordion-item">
                    <button class="accordion-header">¿Si me pierdo una o más clases, ¿puedo recuperarlas?</button>
                    <div class="accordion-body">
                        <p>Todas las clases quedan grabadas de por vida en tu plataforma moodle. Siempre podrás volver a
                            verlas cada vez que lo necesites.
                        </p>
                    </div>
                </li>
                <li class="accordion-item">
                    <button class="accordion-header">¿De qué manera adquiriré conocimientos?</button>
                    <div class="accordion-body">
                        <p>Te enfrentarás a escenarios laborales reales, donde deberás poner en práctica lo adquirido de
                            manera individual y colaborativa. A través de la experimentación y la corrección de errores,
                            superarás desafíos y adquirirás nuevas destrezas
                            que podrás luego aplicar en tu entorno laboral.
                        </p>
                    </div>
                </li>
                <li class="accordion-item">
                    <button class="accordion-header">¿Cómo se desarrollan las clases virtuales en tiempo real?</button>
                    <div class="accordion-body">
                        <p>Las sesiones tienen una duración de 2 a 3 horas de lunes a viernes (3 o 4 horas los sábados)
                            y se llevan a cabo de manera virtual en tiempo real, utilizando aulas virtuales que permiten
                            la interacción con el instructor y tus compañeros.
                            Mantenemos grupos reducidos para brindar un seguimiento más personalizado a lo largo de tu
                            proceso de aprendizaje.
                        </p>
                    </div>
                </li>
                <li class="accordion-item">
                    <button class="accordion-header">¿Cuál es la función de la Comunidad de Graduados?</button>
                    <div class="accordion-body">
                        <p>La Comunidad de Graduados es nuestra plataforma digital donde hallarás todos los recursos
                            relacionados con el curso. Tendrás acceso a clases en directo, así como a materiales de
                            lectura, videos y laboratorios, con una suscripción
                            de por vida que se actualiza de manera constante.
                        </p>
                    </div>
                </li>
                <li class="accordion-item">
                    <button class="accordion-header">¿En qué consiste la Garantía de Competencia?</button>
                    <div class="accordion-body">
                        <p>La Garantía de Competencia es un servicio integrado en todos los programas del centro
                            educativo, diseñado para resolver cualquier incertidumbre sobre los temas tratados en clase.
                            Si por alguna razón personal te ausentaste en una
                            o más sesiones, o si deseas revisar un tema específico nuevamente, tienes la opción de
                            retomar el curso de forma parcial o completa hasta en dos ocasiones adicionales, en un
                            periodo de seis meses.
                        </p>
                    </div>
                </li>

                <!-- Add more questions here -->
            </ul>
        </div>
    </div>
    <script>
        const accordionHeaders = document.querySelectorAll('.accordion-header');
        accordionHeaders.forEach(header => {
            header.addEventListener('click', () => {
                const accordionBody = header.nextElementSibling;
                accordionBody.classList.toggle('show');
            });
        });
    </script>


    <!-- Muestra de certificados y fotos de estudiantes -->
    <div class="container mt-5">
        <h2>Certificados y Fotos de Estudiantes</h2>
        <!-- Agrega certificados y fotos de estudiantes -->
    </div>



    <!-- Bootstrap JS y jQuery (Asegúrate de incluirlos después de Bootstrap CSS) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <%- include('front-end-template/footer'); %>


        <script src="/js/scriptSlide.js"></script>
        <script src="/js/anuncios-inicio-event.js"></script>

        <script>
            AOS.init({
                duration: 1000
            });
        </script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <% if (typeof alert !="undefined" ) { %>
            <script>
                Swal.fire({
                    title: '<%= alertTitle %>',
                    text: '<%= alertMessage %>',
                    icon: '<%= alertIcon %>',
                    showConfirmButton: <%= showConfirmButton %>,
                    timer: <%= timer %>
                }).then(() => {
                        window.location = '/<%= ruta %>'
                    })
            </script>
            <% } %>

</body>

</html>