<%- include('template/cabecera', { tituloWeb: "Edufal Programacion - Temporada" , bgActive1: "" , bgActive2: "active" ,
    bgActive3: "" , bgActive4: "" , bgActive5: "" , bgActive6: "" , bgActive7: "" , bgActive8: "" }); %>


    <!-- content inicio -->
    <!-- generador pdfmake -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.2/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.2/vfs_fonts.js"></script>

    <div class="container-fluid mt-2">
        <h2 class=" text-secondary">Reporte estudiantes nuevos - mes de
            <%= mesEnCurso %>
        </h2>
        <hr>


        <div class="d-lg-flex align-items-center justify-content-end my-4 ">
            <a id="envioNotificacionesInicioBtn" class="btn  me-lg-3" href="<%= curso.id_curso %>" style="color: white; background-color: #02aeae;"><i class="bi bi-person-plus me-lg-3"></i>Enviar
                Notificaciones</a>
            <a class="btn btn-warning" href="/admin/cursos-adm"><i class="bi bi-person-lines-fill me-lg-3"></i>Volver
                atras</a>

        </div>
        <% console.log(mesEnCurso) %>
            <div class="container">
                <h3><strong>Estudiantes que recibiran este correo de notificacion:</strong></h3>


                <h1>
                    <%= arrayEstudiantes.length %>
                </h1>
                <button type="button" class="btn btn-sm " data-toggle="modal" data-target=".bd-example-modal-lg">Ver
                    listado</button>
                <button id="generate-pdf" type="button" class="btn btn-sm ">Generar Reporte</button>

                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <table class=" table-bordered table-sm" style="width:100%">
                                <thead class="thead-ligth">
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Correro Electronico</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (arrayEstudiantes.length> 0) { %>
                                        <% arrayEstudiantes.forEach(estudiante=> { %>
                                            <tr></tr>
                                            <td>
                                                <%= estudiante.nombre %>
                                            </td>
                                            <td>
                                                <%= estudiante.correo_electronico %>
                                            </td>
                                            </tr>


                                            <% }) %>
                                                <% } %>
                                                    <tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <hr>

                <div>

                    <% if (arrayEstudiantes.length> 0) { %>
                        <h3><strong>Inicio de clases: </strong>
                            <%= arrayEstudiantes[0].fecha_inicio_inscripcion %>

                        </h3>
                        <h3>
                            <strong> <strong id="id_curso">
                                    <%= arrayEstudiantes[0].id_curso %>
                                </strong> --
                            <%= arrayEstudiantes[0].nombre_curso %>
                                </strong>
                        </h3>
                        <% }else { %>
                            No hay inscripciones
                            <% } %>
                </div>


                <table class=" table-bordered table-sm" style="width:100%">

                    <thead class="thead-ligth">
                        <tr>

                            <th style="" scope="">ID Inscripcion</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Cedula</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Correo Electronico</th>
                            <th scope="col">Fecha Insc.</th>


                        </tr>
                    </thead>
                    <tbody>
                        <% if (arrayEstudiantes.length> 0) { %>
                            <% arrayEstudiantes.forEach(estudiante=> { %>

                                <tr>

                                    <td>
                                        <a href="/admin/inscripciones-adm/editar-inscripcion-adm/<%= estudiante.id_inscripcion %>">
                                            <%= estudiante.id_inscripcion %>
                                        </a>

                                    </td>


                                    <td>
                                        <%= estudiante.nombre %>
                                    </td>
                                    <td>
                                        <%= estudiante.apellido %>
                                    </td>
                                    <td>
                                        <%= estudiante.cedula %>
                                    </td>
                                    <td>
                                        <%= estudiante.telefono %>
                                    </td>

                                    <td>
                                        <%= estudiante.correo_electronico %>
                                    </td>
                                    <td>
                                        <%= estudiante.fecha_inscripcion.toLocaleString('es-ES', {
                                            timeZone: "America/Santo_Domingo" }).slice(0, 10) %>
                                    </td>


                                </tr>

                                <% }) %>
                                    <% } %>
                    </tbody>
                </table>



            </div>
    </div>


    <script>
        // Obtener el botón
        var btn = document.getElementById('generate-pdf');
        // var htmlContent = document.getElementById('html-content').innerHTML;

        // Agregar un evento de clic al botón
        btn.addEventListener('click', function() {
            console.log('generar pdf click')

            let fecha = new Date();
            let fechaReporte = fecha.toLocaleString('es-US', {
                timeZone: "America/Santo_Domingo"
            }, );

            // Definir el contenido del documento
            var docDefinition = {
                content: [{
                        text: 'EDUFAL ONLINE - REPORTE ESTUDIANTES NUEVOS',
                        fontSize: 20,
                        margin: [135, 20, 0, 5],
                    }, {
                        text: `Fecha del reporte: `,
                        margin: [620, 20, 0, 5],
                        bold: true
                    }, {
                        text: `${fechaReporte}`,
                        margin: [620, 0, 0, 5]
                    },
                    <% if(arrayEstudiantes.length > 0) { %> {
                        text: '<%= arrayEstudiantes[0].nombre_curso %>',
                        fontSize: 15,
                        margin: [0, 10, 0, 5]
                    }
                    <% } %>,
                    <% if (arrayEstudiantes.length > 0) { %> {
                        text: 'Inicio de clase: <%= arrayEstudiantes[0].fecha_inicio_inscripcion %>',
                        margin: [0, 10, 0, 5]
                    }
                    <% } %>, {
                        text: 'Estudiantes Nuevos: <%= arrayEstudiantes.length %>'
                    },

                    {
                        text: 'Listado de estudiantes',
                        margin: [0, 20, 0, 5]
                    }, {


                        layout: 'lightHorizontalLines',
                        orientation: 'landscape',
                        table: {
                            // headers are automatically repeated if the table spans over multiple pages
                            // you can declare how many rows should be treated as headers
                            // headerRows: 1,
                            widths: [40, 100, 100, 100, 200, 150],

                            body: [

                                [{
                                    text: 'ID',
                                    bold: true,
                                    fontSize: 10
                                }, {
                                    text: 'Nombre',
                                    bold: true
                                }, {
                                    text: 'Apellido',
                                    bold: true
                                }, {
                                    text: 'Cedula',
                                    bold: true
                                }, {
                                    text: 'Correo',
                                    bold: true
                                }, {
                                    text: 'Fecha Insc',
                                    bold: true
                                }],

                                <% if(arrayEstudiantes.length > 0) { %>
                                <% arrayEstudiantes.forEach(estudiante => { %>

                                ['<%= estudiante.id_inscripcion %>', '<%= estudiante.nombre %>', '<%= estudiante.apellido %>', '<%= estudiante.cedula %>', '<%= estudiante.correo_electronico%>', '<%= estudiante.fecha_inscripcion.toLocaleString() %>'],

                                <% }) %>
                                <% } %>

                            ]
                        }

                    }

                ],
                pageOrientation: 'landscape', // Orientación horizontal
            };

            // Generar el documento PDF
            pdfMake.createPdf(docDefinition).download('Reporte estudiantes nuevos.pdf');
        });
    </script>




    <script src="/js/conteo_regresivo_notif_inicio.js"></script>


    <script src="/js/envioNotificacionesInicio.js"></script>


    <%- include('template/footer'); %>