<%- include('template/cabecera', { tituloWeb: "Edufal Programacion - Temporada" , bgActive1: "" , bgActive2: "active" ,
    bgActive3: "" , bgActive4: "" , bgActive5: "" , bgActive6: "" , bgActive7: "" , bgActive8: "" }); %>


    <!-- content inicio -->


    <div class="container-fluid mt-2">
        <h2 class=" text-secondary">Programacion - Ofertas 100% OFF mes de
            <%= mesEnCurso %>
        </h2>
        <hr>


        <div class="d-lg-flex align-items-center justify-content-end my-4 ">
            <a id="envioProgramacionCursosGratisBtn" class="btn  me-lg-3"
                style="color: white; background-color: #02aeae;"><i class="bi bi-person-plus me-lg-3"></i>Enviar
                Programacion</a>

            <a href="/admin/cursos-adm" class="btn btn-warning "><i class="bi bi-arrow-left me-lg-3"></i>Volver
                a
                atras</a>
        </div>
        <% console.log(mesEnCurso) %>
            <div class="container">
                <h3><strong>Estudiantes que recibiran este correo de promocion:</strong></h3>


                <h1>
                    <%= arrayEstudiantes.length %>
                </h1>
                <button type="button" class="btn btn-sm " data-toggle="modal" data-target=".bd-example-modal-lg">Ver
                    listado</button>

                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                    aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <table class=" table-bordered table-sm" style="width:100%">
                                <thead class="thead-ligth">
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Correro Electronico</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (arrayEstudiantes.length> 0) { %>
                                        <% arrayEstudiantes.forEach(estudiante=> { %>
                                            <tr></tr>
                                            <td>
                                                <%= estudiante.nombre %>
                                            </td>
                                            <td>
                                                <%= estudiante.correo_electronico %>
                                            </td>
                                            </tr>


                                            <% }) %>
                                                <% } %>
                                <tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <hr>

                <div>
                    <h3>Capacitaciones 100% OFF de
                        <%= mesEnCurso %>
                    </h3>
                </div>
                <% if(arrayCursosCategoria1.length> 0){ %>
                    <table class=" table-bordered table-sm" style="width:100%">
                        <h3 style="background-color: #005d6a; color: white;">
                            <strong>
                                <%= arrayCursosCategoria1[0].nombre_categoria %>
                            </strong>
                        </h3>
                        <thead class="thead-ligth">
                            <tr>

                                <th style="column-count: 4;" scope="col">Titulo Curso</th>
                                <th scope="col">Fecha Inicio</th>
                                <th scope="col">Oferta valida hasta</th>
                                <th scope="col">Horarios de Clase</th>


                            </tr>
                        </thead>
                        <tbody>
                            <% if (arrayCursosCategoria1.length> 0) { %>
                                <% arrayCursosCategoria1.forEach(curso=> { %>
                                    <% console.log(arrayCursosCategoria1) %>
                                        <tr>

                                            <td>
                                                <%= curso.titulo_curso %>
                                            </td>


                                            <td>
                                                <%= curso.fecha_inicio.toLocaleString('es-ES', {
                                                    timeZone: "America/Santo_Domingo" }).slice(0, 10) %>
                                            </td>
                                            <td>
                                                <%= curso.fecha_oferta.toLocaleString('es-ES', {
                                                    timeZone: "America/Santo_Domingo" }).slice(0, 10) %>
                                            </td>
                                            <td>
                                                <%= curso.horasClases %>
                                            </td>


                                        </tr>

                                        <% }) %>
                                            <% } %>
                        </tbody>
                    </table>
                    <% } %>
                        <% if(arrayCursosCategoria2.length> 0){ %>
                            <table class=" table-bordered table-sm" style="width: 100%;">
                                <h3 style="background-color: #005d6a; color: white;">
                                    <strong>
                                        <%= arrayCursosCategoria2[0].nombre_categoria %>
                                    </strong>
                                </h3>
                                <thead class="thead-ligth">
                                    <tr>

                                        <th style="column-count: 4;" scope="col">Titulo Curso</th>
                                        <th scope="col">Fecha Inicio</th>
                                        <th scope="col">Oferta valida hasta</th>
                                        <th scope="col">Horarios de Clase</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (arrayCursosCategoria2.length> 0) { %>
                                        <% arrayCursosCategoria2.forEach(curso=> { %>

                                            <tr>

                                                <td>
                                                    <%= curso.titulo_curso %>
                                                </td>


                                                <td>
                                                    <%= curso.fecha_inicio.toLocaleString('es-ES', {
                                                        timeZone: "America/Santo_Domingo" }).slice(0, 10) %>
                                                </td>
                                                <td>
                                                    <%= curso.fecha_oferta.toLocaleString('es-ES', {
                                                        timeZone: "America/Santo_Domingo" }).slice(0, 10) %>
                                                </td>
                                                <td>
                                                    <%= curso.horasClases %>
                                                </td>


                                            </tr>

                                            <% }) %>
                                                <% } %>
                                </tbody>
                            </table>
                            <% } %>
                                <% if(arrayCursosCategoria3.length> 0){ %>
                                    <table class=" table-bordered table-sm" style="width: 100%;">
                                        <h3 style="background-color: #005d6a; color: white;">
                                            <strong>
                                                <%= arrayCursosCategoria3[0].nombre_categoria %>
                                            </strong>
                                        </h3>
                                        <thead class="thead-ligth">
                                            <tr>

                                                <th style="column-count: 4;" scope="col">Titulo Curso</th>
                                                <th scope="col">Fecha Inicio</th>
                                                <th scope="col">Oferta valida hasta</th>
                                                <th scope="col">Horarios de Clase</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (arrayCursosCategoria3.length> 0) { %>
                                                <% arrayCursosCategoria3.forEach(curso=> { %>

                                                    <tr>

                                                        <td>
                                                            <%= curso.titulo_curso %>
                                                        </td>


                                                        <td>
                                                            <%= curso.fecha_inicio.toLocaleString('es-ES', {
                                                                timeZone: "America/Santo_Domingo" }).slice(0, 10) %>
                                                        </td>
                                                        <td>
                                                            <%= curso.fecha_oferta.toLocaleString('es-ES', {
                                                                timeZone: "America/Santo_Domingo" }).slice(0, 10) %>
                                                        </td>
                                                        <td>
                                                            <%= curso.horasClases %>
                                                        </td>


                                                    </tr>

                                                    <% }) %>
                                                        <% } %>
                                        </tbody>
                                    </table>
                                    <% } %>
                                        <% if(arrayCursosCategoria4.length> 0){ %>
                                            <table class=" table-bordered table-sm" style="width: 100%;">
                                                <h3 style="background-color: #005d6a; color: white;">
                                                    <strong>
                                                        <%= arrayCursosCategoria4[0].nombre_categoria %>
                                                    </strong>
                                                </h3>
                                                <thead class="thead-ligth">
                                                    <tr>

                                                        <th style="column-count: 4;" scope="col">Titulo Curso</th>
                                                        <th scope="col">Fecha Inicio</th>
                                                        <th scope="col">Oferta valida hasta</th>
                                                        <th scope="col">Horarios de Clase</th>


                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% if (arrayCursosCategoria4.length> 0) { %>
                                                        <% arrayCursosCategoria4.forEach(curso=> { %>

                                                            <tr>

                                                                <td>
                                                                    <%= curso.titulo_curso %>
                                                                </td>


                                                                <td>
                                                                    <%= curso.fecha_inicio.toLocaleString('es-ES', {
                                                                        timeZone: "America/Santo_Domingo" }).slice(0,
                                                                        10) %>
                                                                </td>
                                                                <td>
                                                                    <%= curso.fecha_oferta.toLocaleString('es-ES', {
                                                                        timeZone: "America/Santo_Domingo" }).slice(0,
                                                                        10) %>
                                                                </td>
                                                                <td>
                                                                    <%= curso.horasClases %>
                                                                </td>


                                                            </tr>

                                                            <% }) %>
                                                                <% } %>
                                                </tbody>
                                            </table>
                                            <% } %>
                                                <% if(arrayCursosCategoria5.length> 0){ %>
                                                    <table class=" table-bordered table-sm" style="width: 100%;">
                                                        <h3 style="background-color: #005d6a; color: white;">
                                                            <strong>
                                                                <%= arrayCursosCategoria5[0].nombre_categoria %>
                                                            </strong>
                                                        </h3>
                                                        <thead class="thead-ligth">
                                                            <tr>

                                                                <th style="column-count: 4;" scope="col">Titulo Curso
                                                                </th>
                                                                <th scope="col">Fecha Inicio</th>
                                                                <th scope="col">Oferta valida hasta</th>
                                                                <th scope="col">Horarios de Clase</th>


                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% if (arrayCursosCategoria5.length> 0) { %>
                                                                <% arrayCursosCategoria5.forEach(curso=> { %>

                                                                    <tr>

                                                                        <td>
                                                                            <%= curso.titulo_curso %>
                                                                        </td>


                                                                        <td>
                                                                            <%= curso.fecha_inicio.toLocaleString('es-ES',
                                                                                { timeZone: "America/Santo_Domingo"
                                                                                }).slice(0, 10) %>
                                                                        </td>
                                                                        <td>
                                                                            <%= curso.fecha_oferta.toLocaleString('es-ES',
                                                                                { timeZone: "America/Santo_Domingo"
                                                                                }).slice(0, 10) %>
                                                                        </td>
                                                                        <td>
                                                                            <%= curso.horasClases %>
                                                                        </td>


                                                                    </tr>

                                                                    <% }) %>
                                                                        <% } %>
                                                        </tbody>
                                                    </table>
                                                    <% } %>
                                                        <% if(arrayCursosCategoria6.length> 0){ %>
                                                            <table class=" table-bordered table-sm"
                                                                style="width: 100%;">
                                                                <h3 style="background-color: #005d6a; color: white;">
                                                                    <strong>
                                                                        <%= arrayCursosCategoria6[0].nombre_categoria %>
                                                                    </strong>
                                                                </h3>
                                                                <thead class="thead-ligth">
                                                                    <tr>

                                                                        <th style="column-count: 4;" scope="col">Titulo
                                                                            Curso
                                                                        </th>
                                                                        <th scope="col">Fecha Inicio</th>
                                                                        <th scope="col">Oferta valida hasta</th>
                                                                        <th scope="col">Horarios de Clase</th>


                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <% if (arrayCursosCategoria6.length> 0) { %>
                                                                        <% arrayCursosCategoria6.forEach(curso=> { %>

                                                                            <tr>

                                                                                <td>
                                                                                    <%= curso.titulo_curso %>
                                                                                </td>


                                                                                <td>
                                                                                    <%= curso.fecha_inicio.toLocaleString('es-ES',
                                                                                        {
                                                                                        timeZone: "America/Santo_Domingo"
                                                                                        }).slice(0, 10) %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= curso.fecha_oferta.toLocaleString('es-ES',
                                                                                        {
                                                                                        timeZone: "America/Santo_Domingo"
                                                                                        }).slice(0, 10) %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= curso.horasClases %>
                                                                                </td>


                                                                            </tr>

                                                                            <% }) %>
                                                                                <% } %>
                                                                </tbody>
                                                            </table>
                                                            <% } %>
                                                                <% if(arrayCursosCategoria7.length> 0){ %>
                                                                    <table class=" table-bordered table-sm"
                                                                        style="width: 100%;">
                                                                        <h3
                                                                            style="background-color: #005d6a; color: white;">
                                                                            <strong>
                                                                                <%= arrayCursosCategoria7[0].nombre_categoria
                                                                                    %>
                                                                            </strong>
                                                                        </h3>
                                                                        <thead class="thead-ligth">
                                                                            <tr>

                                                                                <th style="column-count: 4;"
                                                                                    scope="col">Titulo Curso
                                                                                </th>
                                                                                <th scope="col">Fecha Inicio</th>
                                                                                <th scope="col">Oferta valida hasta</th>
                                                                                <th scope="col">Horarios de Clase</th>


                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <% if (arrayCursosCategoria7.length> 0) { %>
                                                                                <% arrayCursosCategoria7.forEach(curso=>
                                                                                    {
                                                                                    %>

                                                                                    <tr>

                                                                                        <td>
                                                                                            <%= curso.titulo_curso %>
                                                                                        </td>


                                                                                        <td>
                                                                                            <%= curso.fecha_inicio.toLocaleString('es-ES',
                                                                                                {
                                                                                                timeZone: "America/Santo_Domingo"
                                                                                                }).slice(0, 10) %>
                                                                                        </td>
                                                                                        <td>
                                                                                            <%= curso.fecha_oferta.toLocaleString('es-ES',
                                                                                                {
                                                                                                timeZone: "America/Santo_Domingo"
                                                                                                }).slice(0, 10) %>
                                                                                        </td>
                                                                                        <td>
                                                                                            <%= curso.horasClases %>
                                                                                        </td>


                                                                                    </tr>

                                                                                    <% }) %>
                                                                                        <% } %>
                                                                        </tbody>
                                                                    </table>
                                                                    <% } %>
                                                                        <% if(arrayCursosCategoria8.length> 0){ %>
                                                                            <table class=" table-bordered table-sm"
                                                                                style="width: 100%;">
                                                                                <h3
                                                                                    style="background-color: #005d6a; color: white;">
                                                                                    <strong>
                                                                                        <%= arrayCursosCategoria8[0].nombre_categoria
                                                                                            %>
                                                                                    </strong>
                                                                                </h3>
                                                                                <thead class="thead-ligth">
                                                                                    <tr>

                                                                                        <th style="column-count: 4;"
                                                                                            scope="col">Titulo Curso
                                                                                        </th>
                                                                                        <th scope="col">Fecha Inicio
                                                                                        </th>
                                                                                        <th scope="col">Oferta valida
                                                                                            hasta
                                                                                        </th>
                                                                                        <th scope="col">Horarios de
                                                                                            Clase
                                                                                        </th>


                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <% if (arrayCursosCategoria8.length>
                                                                                        0)
                                                                                        { %>
                                                                                        <%
                                                                                            arrayCursosCategoria8.forEach(curso=>
                                                                                            { %>

                                                                                            <tr>

                                                                                                <td>
                                                                                                    <%= curso.titulo_curso
                                                                                                        %>
                                                                                                </td>


                                                                                                <td>
                                                                                                    <%= curso.fecha_inicio.toLocaleString('es-ES',
                                                                                                        {
                                                                                                        timeZone: "America/Santo_Domingo"
                                                                                                        }).slice(0, 10)
                                                                                                        %>
                                                                                                </td>
                                                                                                <td>
                                                                                                    <%= curso.fecha_oferta.toLocaleString('es-ES',
                                                                                                        {
                                                                                                        timeZone: "America/Santo_Domingo"
                                                                                                        }).slice(0, 10)
                                                                                                        %>
                                                                                                </td>
                                                                                                <td>
                                                                                                    <%= curso.horasClases
                                                                                                        %>
                                                                                                </td>


                                                                                            </tr>

                                                                                            <% }) %>
                                                                                                <% } %>
                                                                                </tbody>
                                                                            </table>
                                                                            <% } %>


                                                                                <div class="mt-4 ">


                                                                                    <table align="center"
                                                                                        cellpadding="0" cellspacing="0"
                                                                                        width="720">

                                                                                        <tr>
                                                                                            <td
                                                                                                style="background-color: #f8f8f8; padding: 20px; text-align: center;">
                                                                                                <h1
                                                                                                    style="color: #333333;">
                                                                                                    ¡Aprovecha nuestras
                                                                                                    capacitaciones 100%
                                                                                                    gratis este mes de
                                                                                                    <%= mesEnCurso %>!
                                                                                                </h1>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>

                                                                                            <td
                                                                                                style="background-color: #ffffff; padding: 30px;">
                                                                                                <p><strong>Asunto:
                                                                                                    </strong>¡Aprovecha
                                                                                                    nuestras
                                                                                                    capacitaciones 100%
                                                                                                    gratis este mes de
                                                                                                    <%= mesEnCurso %>!
                                                                                                        😳😱
                                                                                                </p>
                                                                                                <p>Hola [Nombre del
                                                                                                    Estudiante],
                                                                                                </p>
                                                                                                <p>¡Espero que estés
                                                                                                    teniendo un
                                                                                                    excelente día!
                                                                                                    Quería informarte
                                                                                                    sobre una increíble
                                                                                                    oportunidad que
                                                                                                    tenemos este mes en
                                                                                                    EDUFAL ONLINE:
                                                                                                    ¡nuestras
                                                                                                    capacitaciones
                                                                                                    totalmente
                                                                                                    gratuitas!
                                                                                                </p>
                                                                                                <p>En EDUFAL ONLINE,
                                                                                                    creemos firmemente
                                                                                                    en brindar acceso a
                                                                                                    la educación de
                                                                                                    calidad para todos,
                                                                                                    y por eso estamos
                                                                                                    ofreciendo una
                                                                                                    selección especial
                                                                                                    de cursos
                                                                                                    online completamente
                                                                                                    gratis durante todo
                                                                                                    este mes. Esta es tu
                                                                                                    oportunidad de
                                                                                                    adquirir nuevos
                                                                                                    conocimientos,
                                                                                                    mejorar tus
                                                                                                    habilidades y
                                                                                                    avanzar en tu camino
                                                                                                    hacia el éxito, sin
                                                                                                    ningún costo.</p>
                                                                                                <p>Nuestras
                                                                                                    capacitaciones
                                                                                                    gratuitas cubren una
                                                                                                    amplia gama de
                                                                                                    áreas, incluyendo
                                                                                                    Desarrollo de
                                                                                                    Software, Negocios y
                                                                                                    Emprendimiento,
                                                                                                    Diseño Gráfico,
                                                                                                    Contenido
                                                                                                    Digital y
                                                                                                    Multimedia, Idiomas
                                                                                                    y Habilidades
                                                                                                    Lingüísticas,
                                                                                                    Marketing Digital,
                                                                                                    Ciencia de Datos y
                                                                                                    Análisis, Finanzas
                                                                                                    Personales y
                                                                                                    Contabilidad, entre
                                                                                                    otros.
                                                                                                </p>
                                                                                                <p>Al inscribirte en
                                                                                                    nuestros cursos
                                                                                                    gratuitos, tendrás
                                                                                                    acceso a:</p>
                                                                                                <ul>
                                                                                                    <li><strong>Contenido
                                                                                                            de
                                                                                                            Calidad:</strong>
                                                                                                        Cursos diseñados
                                                                                                        por expertos en
                                                                                                        cada campo para
                                                                                                        garantizar que
                                                                                                        obtengas
                                                                                                        conocimientos
                                                                                                        actualizados y
                                                                                                        relevantes.
                                                                                                    </li>
                                                                                                    <li><strong>Flexibilidad
                                                                                                            Horaria:</strong>
                                                                                                        Estudia a tu
                                                                                                        ritmo, adaptando
                                                                                                        los horarios
                                                                                                        según tus
                                                                                                        necesidades y
                                                                                                        disponibilidad.
                                                                                                    </li>
                                                                                                    <li><strong>Certificación
                                                                                                            de
                                                                                                            Participación:</strong>
                                                                                                        Al completar con
                                                                                                        éxito el curso,
                                                                                                        recibirás una
                                                                                                        certificación
                                                                                                        que respaldará
                                                                                                        tus nuevos
                                                                                                        conocimientos y
                                                                                                        habilidades.
                                                                                                    </li>
                                                                                                </ul>
                                                                                                <p>No dejes pasar esta
                                                                                                    oportunidad única de
                                                                                                    aprender y crecer
                                                                                                    sin costo alguno. Te
                                                                                                    animamos a explorar
                                                                                                    nuestra lista de
                                                                                                    cursos gratuitos y
                                                                                                    registrarte hoy
                                                                                                    mismo
                                                                                                    para asegurar tu
                                                                                                    lugar.
                                                                                                </p>
                                                                                                <p>Para más información
                                                                                                    y para inscribirte
                                                                                                    en nuestras
                                                                                                    capacitaciones
                                                                                                    gratuitas, te
                                                                                                    invitamos a visitar
                                                                                                    nuestra página web
                                                                                                    <a
                                                                                                        href="www.edufalonline.com">aquí</a>
                                                                                                    o contactarnos
                                                                                                    directamente a
                                                                                                    través de este
                                                                                                    correo electrónico
                                                                                                    contacto@edufalonline.com.
                                                                                                </p>
                                                                                                <p>¡Esperamos contar
                                                                                                    contigo en nuestra
                                                                                                    comunidad de
                                                                                                    aprendizaje este
                                                                                                    mes!
                                                                                                </p>
                                                                                                <p>Saludos cordiales,
                                                                                                </p><br>

                                                                                                <div
                                                                                                    style="text-align: center; margin-top: 30px;">

                                                                                                    <h4><a href="https://bit.ly/3xzs0RV"
                                                                                                            style="background-color: #005d6a; border-radius: 10px; padding: 10px; text-decoration: none; color: white;">ESCRIBEMOS
                                                                                                            PARA MAS
                                                                                                            INFORMACION</a>
                                                                                                    </h4><br>
                                                                                                    <p
                                                                                                        style="margin: 0 auto; width: 50%;">
                                                                                                        Te esperamos en
                                                                                                        el AULA!</p><br>
                                                                                                    <img src="https://onedrive.live.com/embed?resid=C31F9C66E8BCAAC9%211711&authkey=%21AJoA5g9yVo7CavY&width=396&height=122"
                                                                                                        width="396"
                                                                                                        height="122" />


                                                                                                    <footer
                                                                                                        class=" mt-0 mb-0">
                                                                                                        <div
                                                                                                            class="container ">
                                                                                                            <div
                                                                                                                class="container-dir mt-5 mb-5">
                                                                                                            </div>
                                                                                                            <div
                                                                                                                class="container-dir mt-5 mb-5">
                                                                                                                <h6
                                                                                                                    class="text-black  mb-3">
                                                                                                                    Calle
                                                                                                                    Primera
                                                                                                                    #59
                                                                                                                    Sector
                                                                                                                    Enriquillo
                                                                                                                    de
                                                                                                                    Herrera
                                                                                                                    Santo
                                                                                                                    Domingo
                                                                                                                    R.D
                                                                                                                    829-856-0203
                                                                                                                    contacto@edufalonline.com
                                                                                                                </h6>
                                                                                                            </div>
                                                                                                            <div
                                                                                                                class="container-redes mt-5 mb-5">
                                                                                                                <h6
                                                                                                                    class="text-black  mb-3">
                                                                                                                    <strong>NUESTRAS
                                                                                                                        REDES
                                                                                                                        SOCIALES</strong>
                                                                                                                </h6>
                                                                                                                <a href="https://www.facebook.com/rosfalrd/"
                                                                                                                    target="_blank">
                                                                                                                    <img style="width: 40px;"
                                                                                                                        src="https://onedrive.live.com/embed?resid=C31F9C66E8BCAAC9%211715&authkey=%21AKCgUx2Zi1sFJFk&width=256"
                                                                                                                        alt="facebook"></a>
                                                                                                                <a href="https://www.instagram.com/rosfalrd/"
                                                                                                                    target="_blank">
                                                                                                                    <img style="width: 40px;"
                                                                                                                        src="https://onedrive.live.com/embed?resid=C31F9C66E8BCAAC9%211712&authkey=%21AET2kpZIjaoW6W0&width=40"
                                                                                                                        alt="instagram"></a>
                                                                                                                <a href="https://bit.ly/3xzs0RV"
                                                                                                                    target="_blank">
                                                                                                                    <img style="width: 40px;"
                                                                                                                        src="https://onedrive.live.com/embed?resid=C31F9C66E8BCAAC9%211713&authkey=%21AJ-hUrQAndRfUv8&width=323&height=299"
                                                                                                                        alt="ws"></a>
                                                                                                                <a
                                                                                                                    href="#">
                                                                                                                    <img style="width: 40px;"
                                                                                                                        src="https://onedrive.live.com/embed?resid=C31F9C66E8BCAAC9%211714&authkey=%21ABz2uGGcqo6A1gY&width=256"
                                                                                                                        alt="twier"></a>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </footer>
                                                                                                    <hr
                                                                                                        class="mt-0 mb-0">
                                                                                                    <div class="mt-0 mb-0"
                                                                                                        style="background-color:#000000 ;">
                                                                                                        <p
                                                                                                            class="text-white text-center pt-3 pb-3 m-0">
                                                                                                            © Copyright
                                                                                                            2023 -
                                                                                                            Edufal
                                                                                                            Online
                                                                                                        </p>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </div>

            </div>
    </div>





    <script src="/js/envioProgramacionCursosGratis.js"></script>


    <%- include('template/footer'); %>