<!DOCTYPE html>
<html lang="es">

<%- include('front-end-template/head', { tituloWeb: "Edufal Online - Ofertas Inscripcion" }); %>

    <%- include('front-end-template/navbar'); %>


        <body>
            <div class=""
                style="background-image: url(/img/img-cursos/background-cabecera-ofertas-inscripciones.png); background-repeat: no-repeat; background-position: center; background-size: cover; height: 440px; box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.2);">



                <div class=" d-lg-flex justify-content-center align-items-center" style="height: 100%;">

                    <div class=" col-lg-6 fs-5 justify-content-center d-flex " style="">
                        <h1 data-aos="fade-right">
                            <strong style="color: #005d6a; ">OFERTAS INSCRIPCIONES</strong>
                        </h1>
                    </div>

                    <div class="col-lg-6" style="">
                        <% if (arrayCursos.length> 0) { %>
                            <% arrayCursos.forEach(curso=> { %>
                                <li data-aos="fade-up" data-aos-duration="2000" class="zoom-in-container image-link ">
                                    <a href="/cursos_talleres/ver_curso_taller/<%= curso.titulo_curso %>"
                                        class="zoom-in-container" style="color: #005d6a;">
                                        <img class="zoom-in-image" style="width: 75%; max-width: 150px;"
                                            src="<%= curso.url_imagen %>" alt="img-curso">

                                        <%= curso.titulo_curso %>

                                    </a>
                                </li>
                                <% }) %>
                                    <% } %>

                    </div>



                </div>

            </div>


            <div style=""
                class=" text-center d-sm-flex justify-content-around justify-xxl-content-center align-items-center ">
                <% if (arrayCursos.length> 0) { %>
                    <% arrayCursos.forEach(curso=> { %>
                        <div data-aos="fade-up" data-aos-duration="2000" class="zoom-in-container">
                            <div>

                                <a href="/cursos_talleres/ver_curso_taller/<%= curso.titulo_curso %>"
                                    style="color: #005d6a;" class="image-link">
                                    <img class="zoom-in-image" style="width: 75%; max-width: 200px;"
                                        src="<%= curso.url_imagen %>" alt="img-curso">
                                </a>
                                <h5 class="mt-2" style="color: #005d6a;">
                                    <%= curso.titulo_curso %>
                                </h5>
                            </div>
                        </div>
                        <% }) %>
                            <% } %>


            </div>





            <%- include('front-end-template/footer'); %>


                <script src="/js/scriptSlide.js"></script>
                <script src="/js/anuncios-inicio-event.js"></script>

                <script>
                    AOS.init({
                        duration: 1000
                    });
                </script>




        </body>




</html>