<%- include('template/cabecera', { tituloWeb: "Edufal Programacion - Temporada" , bgActive1: "" , bgActive2: "active" ,
    bgActive3: "" , bgActive4: "" , bgActive5: "" , bgActive6: "" , bgActive7: "" , bgActive8: "" }); %>


    <!-- content inicio -->


    <div class="container-fluid mt-2">
        <h2 class=" text-secondary">Programacion - Cursos mes de
            <%= mesEnCurso %>
        </h2>
        <hr>


        <div class="d-lg-flex align-items-center justify-content-end my-4 ">
            <a id="envioProgramacionBtn" class="btn  me-lg-3" style="color: white; background-color: #02aeae;"><i
                    class="bi bi-person-plus me-lg-3"></i>Enviar Programacion</a>
            <a class="btn" href="/admin/ofertas100%OFF-adm"><i class="bi bi-person-lines-fill me-lg-3"></i>Ver
                Ofertas 100% OFF</a>

        </div>
        <% console.log(mesEnCurso) %>
            <div class="container">
                <h3><strong>Estudiantes que recibiran este correo de promocion:</strong></h3>


                <h1>
                    <%= arrayEstudiantes.length %>
                </h1>
                <button type="button" class="btn btn-sm " data-toggle="modal" data-target=".bd-example-modal-lg">Ver
                    listado</button>

                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                    aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <table class=" table-bordered table-sm" style="width:100%">
                                <thead class="thead-ligth">
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Correro Electronico</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (arrayEstudiantes.length> 0) { %>
                                        <% arrayEstudiantes.forEach(estudiante=> { %>
                                            <tr></tr>
                                            <td>
                                                <%= estudiante.nombre %>
                                            </td>
                                            <td>
                                                <%= estudiante.correo_electronico %>
                                            </td>
                                            </tr>


                                            <% }) %>
                                                <% } %>
                                <tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <hr>

                <div>
                    <h3>Capacitaciones del mes de
                        <%= mesEnCurso %>
                    </h3>
                </div>
                <% if(arrayCursosCategoria1.length> 0){ %>
                    <table class=" table-bordered table-sm" style="width:100%">
                        <h3 style="background-color: #005d6a; color: white;">
                            <strong>
                                <%= arrayCursosCategoria1[0].nombre_categoria %>
                            </strong>
                        </h3>
                        <thead class="thead-ligth">
                            <tr>

                                <th style="column-count: 4;" scope="col">Titulo Curso</th>
                                <th scope="col">Fecha Inicio</th>
                                <th scope="col">Horarios de Clase</th>


                            </tr>
                        </thead>
                        <tbody>
                            <% if (arrayCursosCategoria1.length> 0) { %>
                                <% arrayCursosCategoria1.forEach(curso=> { %>

                                    <tr>

                                        <td>
                                            <%= curso.titulo_curso %>
                                        </td>


                                        <td>
                                            <%= curso.fecha_inicio.toLocaleString('es-ES', {
                                                timeZone: "America/Santo_Domingo" }).slice(0, 10) %>
                                        </td>
                                        <td>
                                            <%= curso.horasClases %>
                                        </td>


                                    </tr>

                                    <% }) %>
                                        <% } %>
                        </tbody>
                    </table>
                    <% } %>
                        <% if(arrayCursosCategoria2.length> 0){ %>
                            <table class=" table-bordered table-sm" style="width: 100%;">
                                <h3 style="background-color: #005d6a; color: white;">
                                    <strong>
                                        <%= arrayCursosCategoria2[0].nombre_categoria %>
                                    </strong>
                                </h3>
                                <thead class="thead-ligth">
                                    <tr>

                                        <th style="column-count: 4;" scope="col">Titulo Curso</th>
                                        <th scope="col">Fecha Inicio</th>
                                        <th scope="col">Horarios de Clase</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (arrayCursosCategoria2.length> 0) { %>
                                        <% arrayCursosCategoria2.forEach(curso=> { %>

                                            <tr>

                                                <td>
                                                    <%= curso.titulo_curso %>
                                                </td>


                                                <td>
                                                    <%= curso.fecha_inicio.toLocaleString('es-ES', {
                                                        timeZone: "America/Santo_Domingo" }).slice(0, 10) %>
                                                </td>
                                                <td>
                                                    <%= curso.horasClases %>
                                                </td>


                                            </tr>

                                            <% }) %>
                                                <% } %>
                                </tbody>
                            </table>
                            <% } %>
                                <% if(arrayCursosCategoria3.length> 0){ %>
                                    <table class=" table-bordered table-sm" style="width: 100%;">
                                        <h3 style="background-color: #005d6a; color: white;">
                                            <strong>
                                                <%= arrayCursosCategoria3[0].nombre_categoria %>
                                            </strong>
                                        </h3>
                                        <thead class="thead-ligth">
                                            <tr>

                                                <th style="column-count: 4;" scope="col">Titulo Curso</th>
                                                <th scope="col">Fecha Inicio</th>
                                                <th scope="col">Horarios de Clase</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (arrayCursosCategoria3.length> 0) { %>
                                                <% arrayCursosCategoria3.forEach(curso=> { %>

                                                    <tr>

                                                        <td>
                                                            <%= curso.titulo_curso %>
                                                        </td>


                                                        <td>
                                                            <%= curso.fecha_inicio.toLocaleString('es-ES', {
                                                                timeZone: "America/Santo_Domingo" }).slice(0, 10) %>
                                                        </td>
                                                        <td>
                                                            <%= curso.horasClases %>
                                                        </td>


                                                    </tr>

                                                    <% }) %>
                                                        <% } %>
                                        </tbody>
                                    </table>
                                    <% } %>
                                        <% if(arrayCursosCategoria4.length> 0){ %>
                                            <table class=" table-bordered table-sm" style="width: 100%;">
                                                <h3 style="background-color: #005d6a; color: white;">
                                                    <strong>
                                                        <%= arrayCursosCategoria4[0].nombre_categoria %>
                                                    </strong>
                                                </h3>
                                                <thead class="thead-ligth">
                                                    <tr>

                                                        <th style="column-count: 4;" scope="col">Titulo Curso</th>
                                                        <th scope="col">Fecha Inicio</th>
                                                        <th scope="col">Horarios de Clase</th>


                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% if (arrayCursosCategoria4.length> 0) { %>
                                                        <% arrayCursosCategoria4.forEach(curso=> { %>

                                                            <tr>

                                                                <td>
                                                                    <%= curso.titulo_curso %>
                                                                </td>


                                                                <td>
                                                                    <%= curso.fecha_inicio.toLocaleString('es-ES', {
                                                                        timeZone: "America/Santo_Domingo" }).slice(0,
                                                                        10) %>
                                                                </td>
                                                                <td>
                                                                    <%= curso.horasClases %>
                                                                </td>


                                                            </tr>

                                                            <% }) %>
                                                                <% } %>
                                                </tbody>
                                            </table>
                                            <% } %>
                                                <% if(arrayCursosCategoria5.length> 0){ %>
                                                    <table class=" table-bordered table-sm" style="width: 100%;">
                                                        <h3 style="background-color: #005d6a; color: white;">
                                                            <strong>
                                                                <%= arrayCursosCategoria5[0].nombre_categoria %>
                                                            </strong>
                                                        </h3>
                                                        <thead class="thead-ligth">
                                                            <tr>

                                                                <th style="column-count: 4;" scope="col">Titulo Curso
                                                                </th>
                                                                <th scope="col">Fecha Inicio</th>
                                                                <th scope="col">Horarios de Clase</th>


                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% if (arrayCursosCategoria5.length> 0) { %>
                                                                <% arrayCursosCategoria5.forEach(curso=> { %>

                                                                    <tr>

                                                                        <td>
                                                                            <%= curso.titulo_curso %>
                                                                        </td>


                                                                        <td>
                                                                            <%= curso.fecha_inicio.toLocaleString('es-ES',
                                                                                { timeZone: "America/Santo_Domingo"
                                                                                }).slice(0, 10) %>
                                                                        </td>
                                                                        <td>
                                                                            <%= curso.horasClases %>
                                                                        </td>


                                                                    </tr>

                                                                    <% }) %>
                                                                        <% } %>
                                                        </tbody>
                                                    </table>
                                                    <% } %>
                                                        <% if(arrayCursosCategoria6.length> 0){ %>
                                                            <table class=" table-bordered table-sm"
                                                                style="width: 100%;">
                                                                <h3 style="background-color: #005d6a; color: white;">
                                                                    <strong>
                                                                        <%= arrayCursosCategoria6[0].nombre_categoria %>
                                                                    </strong>
                                                                </h3>
                                                                <thead class="thead-ligth">
                                                                    <tr>

                                                                        <th style="column-count: 4;" scope="col">Titulo
                                                                            Curso
                                                                        </th>
                                                                        <th scope="col">Fecha Inicio</th>
                                                                        <th scope="col">Horarios de Clase</th>


                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <% if (arrayCursosCategoria6.length> 0) { %>
                                                                        <% arrayCursosCategoria6.forEach(curso=> { %>

                                                                            <tr>

                                                                                <td>
                                                                                    <%= curso.titulo_curso %>
                                                                                </td>


                                                                                <td>
                                                                                    <%= curso.fecha_inicio.toLocaleString('es-ES',
                                                                                        {
                                                                                        timeZone: "America/Santo_Domingo"
                                                                                        }).slice(0, 10) %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= curso.horasClases %>
                                                                                </td>


                                                                            </tr>

                                                                            <% }) %>
                                                                                <% } %>
                                                                </tbody>
                                                            </table>
                                                            <% } %>
                                                                <% if(arrayCursosCategoria7.length> 0){ %>
                                                                    <table class=" table-bordered table-sm"
                                                                        style="width: 100%;">
                                                                        <h3
                                                                            style="background-color: #005d6a; color: white;">
                                                                            <strong>
                                                                                <%= arrayCursosCategoria7[0].nombre_categoria
                                                                                    %>
                                                                            </strong>
                                                                        </h3>
                                                                        <thead class="thead-ligth">
                                                                            <tr>

                                                                                <th style="column-count: 4;"
                                                                                    scope="col">Titulo Curso</th>
                                                                                <th scope="col">Fecha Inicio</th>
                                                                                <th scope="col">Horarios de Clase</th>


                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <% if (arrayCursosCategoria7.length> 0) { %>
                                                                                <% arrayCursosCategoria7.forEach(curso=>
                                                                                    {
                                                                                    %>

                                                                                    <tr>

                                                                                        <td>
                                                                                            <%= curso.titulo_curso %>
                                                                                        </td>


                                                                                        <td>
                                                                                            <%= curso.fecha_inicio.toLocaleString('es-ES',
                                                                                                {
                                                                                                timeZone: "America/Santo_Domingo"
                                                                                                }).slice(0, 10) %>
                                                                                        </td>
                                                                                        <td>
                                                                                            <%= curso.horasClases %>
                                                                                        </td>


                                                                                    </tr>

                                                                                    <% }) %>
                                                                                        <% } %>
                                                                        </tbody>
                                                                    </table>
                                                                    <% } %>
                                                                        <% if(arrayCursosCategoria8.length> 0){ %>
                                                                            <table class=" table-bordered table-sm"
                                                                                style="width: 100%;">
                                                                                <h3
                                                                                    style="background-color: #005d6a; color: white;">
                                                                                    <strong>
                                                                                        <%= arrayCursosCategoria8[0].nombre_categoria
                                                                                            %>
                                                                                    </strong>
                                                                                </h3>
                                                                                <thead class="thead-ligth">
                                                                                    <tr>

                                                                                        <th style="column-count: 4;"
                                                                                            scope="col">Titulo Curso
                                                                                        </th>
                                                                                        <th scope="col">Fecha Inicio
                                                                                        </th>
                                                                                        <th scope="col">Horarios de
                                                                                            Clase
                                                                                        </th>


                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <% if (arrayCursosCategoria8.length>
                                                                                        0)
                                                                                        { %>
                                                                                        <%
                                                                                            arrayCursosCategoria8.forEach(curso=>
                                                                                            { %>

                                                                                            <tr>

                                                                                                <td>
                                                                                                    <%= curso.titulo_curso
                                                                                                        %>
                                                                                                </td>


                                                                                                <td>
                                                                                                    <%= curso.fecha_inicio.toLocaleString('es-ES',
                                                                                                        {
                                                                                                        timeZone: "America/Santo_Domingo"
                                                                                                        }).slice(0, 10)
                                                                                                        %>
                                                                                                </td>
                                                                                                <td>
                                                                                                    <%= curso.horasClases
                                                                                                        %>
                                                                                                </td>


                                                                                            </tr>

                                                                                            <% }) %>
                                                                                                <% } %>
                                                                                </tbody>
                                                                            </table>
                                                                            <% } %>

            </div>
    </div>


    <div class="mt-4 ">
        <table align="center" cellpadding="0" cellspacing="0" width="720">
            <tr>

                <td style="background-color: #f8f8f8; padding: 20px; text-align: center;">
                    <h3 style="color: #333333;">¡No dejes que el tiempo pase sin tomar acción! Inscríbete en nuestros
                        cursos ahora mismo y da el primer paso hacia un futuro brillante. 🚀🌟
                    </h3>
                </td>
            </tr>
            <tr>
                <td style="background-color: #ffffff; padding: 30px;">
                    <p><strong>Asunto: </strong>¿Vas a dejar pasar otro mes sin capacitarte? 😳😱</p>
                    <p>
                        <%= mesEnCurso %> es un mes dedicado a aquellos que están comprometidos con alcanzar sus metas
                            antes de que termine el año. ¿Te encuentras entre ellos? En EDUFAL, encontrarás programas
                            diseñados para proporcionarte conocimientos siempre de las manos
                            de expertos en la industria. Tu éxito está a solo un diplomado de distancia.
                    </p>
                    <p style="">
                        Escríbeme ahora mismo <a href="www.edufalonline.com">aquí</a> o solicita más información sobre
                        tu diplomado, curso o taller ideal para verificar si aún hay cupo disponible. ¡Trabajaré para
                        asegurarte el tuyo!
                    </p><br>
                    <div style="text-align: center; margin-top: 30px;">

                        <h4><a href="https://bit.ly/3xzs0RV"
                                style="background-color: #005d6a; border-radius: 10px; padding: 10px; text-decoration: none; color: white;">ESCRIBEMOS
                                PARA MAS INFORMACION</a></h4><br>
                        <p style="margin: 0 auto; width: 50%;">Te esperamos en el AULA!</p><br>
                        <img src="https://onedrive.live.com/embed?resid=C31F9C66E8BCAAC9%211711&authkey=%21AJoA5g9yVo7CavY&width=396&height=122"
                            width="396" height="122" />


                        <footer class=" mt-0 mb-0">
                            <div class="container ">
                                <div class="container-dir mt-5 mb-5">
                                </div>
                                <div class="container-dir mt-5 mb-5">
                                    <h6 class="text-black  mb-3"> Calle Primera #59 Sector Enriquillo de Herrera Santo
                                        Domingo R.D 829-856-0203 contacto@edufalonline.com</h6>
                                </div>
                                <div class="container-redes mt-5 mb-5">
                                    <h6 class="text-black  mb-3"><strong>NUESTRAS REDES SOCIALES</strong></h6>
                                    <a href="https://www.facebook.com/rosfalrd/" target="_blank"> <img
                                            style="width: 40px;"
                                            src="https://onedrive.live.com/embed?resid=C31F9C66E8BCAAC9%211715&authkey=%21AKCgUx2Zi1sFJFk&width=256"
                                            alt="facebook"></a>
                                    <a href="https://www.instagram.com/rosfalrd/" target="_blank"> <img
                                            style="width: 40px;"
                                            src="https://onedrive.live.com/embed?resid=C31F9C66E8BCAAC9%211712&authkey=%21AET2kpZIjaoW6W0&width=40"
                                            alt="instagram"></a>
                                    <a href="https://bit.ly/3xzs0RV" target="_blank"> <img style="width: 40px;"
                                            src="https://onedrive.live.com/embed?resid=C31F9C66E8BCAAC9%211713&authkey=%21AJ-hUrQAndRfUv8&width=323&height=299"
                                            alt="ws"></a>
                                    <a href="#"> <img style="width: 40px;"
                                            src="https://onedrive.live.com/embed?resid=C31F9C66E8BCAAC9%211714&authkey=%21ABz2uGGcqo6A1gY&width=256"
                                            alt="twier"></a>
                                </div>
                            </div>
                        </footer>
                        <hr class="mt-0 mb-0">
                        <div class="mt-0 mb-0" style="background-color:#000000 ;">
                            <p class="text-white text-center pt-3 pb-3 m-0">© Copyright 2023 - Edufal Online</p>
                        </div>
                    </div>
                </td>
            </tr>


        </table>
    </div>





    <script src="/js/envioProgramacion.js"></script>


    <%- include('template/footer'); %>