<%- include('template/cabecera', { tituloWeb: "Nomina - Descuento por Empleado" , bgActive1: "" , bgActive2: "" ,
    bgActive3: "active" , bgActive4: "" , bgActive5: "" , bgActive6: "" , bgActive7: "" }); %>

    <div class="container-fluid d-flex flex-column mt-2">
        <h2 class=" text-secondary">Ver Descuento por Empleado</h2>
        <hr>

        <div class="d-flex align-items-center justify-content-end ">

            <a class="btn btn-warning  my-4 " href="/empleados/informacion-empleado/<%= empleado.idEmpleado %>"><i
                    class="bi bi-arrow-left me-lg-3"></i>Volver Atras</a>
        </div>

        <div class="header-container p-2 mb-3 mt-3 h-25 text-light "
            style="background-color: #acacac5c; border-radius: 8px;">
            <h5 class="mt-3 font-weight-bold fs-3 " style="color: #02aeae;">
                <%= empleado.idEmpleado %>
                    <%= empleado.nombre %>
                        <%= empleado.apellido %>
            </h5>
            <hr>
            <div class="d-lg-flex text-secondary ">
                <h5 class="me-lg-3">
                    <strong class="font-weight-bold d-lg-flex">Fecha de nacimiento</strong>
                    <%= empleado.nacimiento %>
                </h5>
                <h5 class="me-lg-3">
                    <strong id="campoTiempoEmpresa" class="font-weight-bold d-lg-flex">Fecha Contratacion </strong>
                    <%= empleado.tiempoEmpresa.toLocaleString('es-US', { timeZone: "America/Santo_Domingo" }) %>
                </h5>
                <h5 class="me-lg-3">

                    <strong class="font-weight-bold d-lg-flex">Cedula
                    </strong>
                    <%= empleado.cedula %>
                </h5>
                <h5 class="me-lg-3">

                    <strong class="font-weight-bold d-lg-flex">Sexo
                    </strong>
                    <%= empleado.sexo %>
                </h5>
                <h5>
                    <strong class="estatusInfEmp font-weight-bold d-lg-flex">Estatus
                    </strong>
                    <%= empleado.estatus %>

                </h5>
            </div>
        </div>



        <% if (arrayDescuento_x_empleado.length < 1) { %>
            <h5 class="bg-danger d-flex justify-content-center text-light">No tiene descuento aplicado
            </h5>
            <% } %>

                <div class="container-departamento">

                    <div class="container-table table-responsive">
                        <table class="table table-sm table-hover ">
                            <thead class="thead-ligth">
                                <tr class="text-truncate">
                                    <th scope="col">Codigo Desc</th>
                                    <th scope="col">Tipo Desc</th>
                                    <th scope="col">Nombre Desc</th>
                                    <th scope="col">Monto Desc</th>
                                    <th scope="col">Fecha Desc</th>
                                    <th scope="col">Estado Desc</th>
                                    <th scope="col">Fecha Inicial</th>
                                    <th scope="col">Fecha Final</th>
                                    <th scope="col">Observacion</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>

                                <% if (arrayDescuento_x_empleado.length> 0) { %>
                                    <% arrayDescuento_x_empleado.forEach(descuento_x_empleado=> { %>

                                        <tr class="text-truncate">

                                            <td id="codDesc">
                                                <%= descuento_x_empleado.idDescuento_x_empleado %>
                                            </td>
                                            <td>
                                                <%= descuento_x_empleado.tipoDescuento %>
                                            </td>
                                            <td>
                                                <%= descuento_x_empleado.nombreDescuento %>
                                            </td>
                                            <td>
                                                <%= descuento_x_empleado.montoDescuento %>
                                            </td>
                                            <td>
                                                <%= descuento_x_empleado.fechaDescuento.toLocaleString('es-US', {
                                                    timeZone: "America/Santo_Domingo" }) %>
                                            </td>
                                            <td>
                                                <% if (descuento_x_empleado.estadoDescuento=="Inactivo" ) { %>
                                                    <p class="bg-danger">
                                                        <%= descuento_x_empleado.estadoDescuento %>
                                                    </p>
                                                    <% }else { %>
                                                        <%= descuento_x_empleado.estadoDescuento %>
                                                            <% } %>
                                            </td>
                                            <td>
                                                <%= descuento_x_empleado.fechaInicial.toLocaleDateString() %>
                                            </td>
                                            <td>
                                                <%= descuento_x_empleado.fechaFinal.toLocaleDateString() %>
                                            </td>
                                            <td>
                                                <%= descuento_x_empleado.observacionDescuento %>
                                            </td>
                                            <!-- <td class="w-0 "><a type="submit" href="/empleados/informacion-empleado/eliminar-descuento-x-empleado/<%= descuento_x_empleado.idDescuento_x_empleado %>" class="btn " title="Eliminar Dpto">Eliminar Desc</a> -->
                                            <td>
                                                <a id="eventoAct-Inact"
                                                    href="/empleados/informacion-empleado/editar-descuento-x-empleado/<%= descuento_x_empleado.idDescuento_x_empleado %>"
                                                    class="btn  ">Editar</a>
                                            </td>

                                        </tr>


                                        <% }) %>
                                            <% } %>


                            </tbody>
                        </table>
                    </div>

                </div>


    </div>




    <%- include('template/footer'); %>