<%- include('template/cabecera', { tituloWeb: "Nomina - Informacion Empleado" , bgActive1: "" , bgActive2: "" ,
    bgActive3: "active" , bgActive4: "" , bgActive5: "" , bgActive6: "" , bgActive7: "" }); %>

    <div class="container-fluid d-flex flex-column mt-2">
        <h2 class=" text-secondary">Departamento Asignado</h2>
        <hr>

        <div class="d-flex align-items-center justify-content-end ">

            <a class="btn btn-warning  my-4 " href="/empleados/informacion-empleado/<%= empleado.idEmpleado %>"><i
                    class="bi bi-arrow-left me-lg-3"></i>Volver Atras</a>
        </div>

        <div class="header-container p-2 mb-3 mt-3 h-25 text-light "
            style="background-color: #acacac5c; border-radius: 8px;">
            <h5 class="mt-3 font-weight-bold fs-3 " style="color: #02aeae;">
                <%= empleado.idEmpleado %>
                    <%= empleado.nombre %>
                        <%= empleado.apellido %>
            </h5>
            <hr>
            <div class="d-lg-flex text-secondary ">
                <h5 class="me-lg-3">
                    <strong class="font-weight-bold d-lg-flex">Fecha de nacimiento</strong>
                    <%= empleado.nacimiento %>
                </h5>
                <h5 class="me-lg-3">
                    <strong id="campoTiempoEmpresa" class="font-weight-bold d-lg-flex">Fecha Contratacion </strong>
                    <%= empleado.tiempoEmpresa.toLocaleString('es-US', { timeZone: "America/Santo_Domingo" }) %>
                </h5>
                <h5 class="me-lg-3">

                    <strong class="font-weight-bold d-lg-flex">Cedula
                    </strong>
                    <%= empleado.cedula %>
                </h5>
                <h5 class="me-lg-3">

                    <strong class="font-weight-bold d-lg-flex">Sexo
                    </strong>
                    <%= empleado.sexo %>
                </h5>
                <h5>
                    <strong class="estatusInfEmp font-weight-bold d-lg-flex">Estatus
                    </strong>
                    <%= empleado.estatus %>

                </h5>
            </div>
        </div>



        <% if (empleado_x_departamentoDB.length < 1) { %>
            <h5 class="bg-danger d-flex justify-content-center text-light">No tiene departamento asignado
            </h5>
            <% } %>

                <div class="container-departamento">

                    <div class="container-table table-responsive">
                        <table class="table table-sm table-hover ">
                            <thead class="thead-ligth">
                                <tr class="text-truncate">
                                    <th scope="col">Codigo Asignacion</th>
                                    <th scope="col">Codigo Dpto</th>
                                    <th scope="col">Nombre Dpto</th>
                                    <th scope="col">Fecha Registro</th>
                                    <th scope="col">Estado</th>

                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>


                                <% if (empleado_x_departamentoDB.length> 0) { %>
                                    <% empleado_x_departamentoDB.forEach(function(entrada) { %>

                                        <tr class="text-truncate">

                                            <td>
                                                <%= empleado_x_departamento.idEmpleado_x_departamento %>
                                            </td>
                                            <td>
                                                <%= empleado_x_departamento.idDepartamento %>
                                            </td>
                                            <td>
                                                <%= empleado_x_departamento.nombre_dpto %>
                                            </td>
                                            <td>
                                                <%= empleado_x_departamento.fechaRegistroB %>
                                            </td>
                                            <td>
                                                <% if (empleado_x_departamento.estadoDepartamentoB=="Inactivo" ) { %>
                                                    <p class="bg-danger text-light">
                                                        <%= empleado_x_departamento.estadoDepartamentoB %>
                                                    </p>
                                                    <% }else { %>
                                                        <%= empleado_x_departamento.estadoDepartamentoB %>
                                                            <% } %>
                                            </td>
                                            <td>
                                                <a href="/empleados/informacion-empleado/editar-empleado-x-departamento/<%= empleado_x_departamento.idEmpleado %>"
                                                    class="btn btnFormat ">Editar</a>
                                                <a type="button" class="btn text-light bg-danger "
                                                    data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                                    title="Eliminar Dpto">Eliminar</a>


                                            </td>

                                        </tr>

                                        <!-- Modal -->
                                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="staticBackdropLabel">Eliminar
                                                            Asignacion Dpto
                                                        </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Close</button>
                                                        <a type="submit"
                                                            href="/empleados/informacion-empleado/eliminar-departamento-x-empleado/<%= empleado_x_departamento.idEmpleado_x_departamento %>"
                                                            class="btn text-light bg-danger "
                                                            title="Eliminar Dpto">Eliminar Dpto<i
                                                                class="bi me-lg-3"></i></a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <% }) %>
                                            <% } %>



                            </tbody>
                        </table>
                    </div>

                </div>


    </div>





    <%- include('template/footer'); %>